@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic,700italic);
@import url(http://fonts.googleapis.com/css?family=Merriweather:400,700);
/**
* Typography: Headings, body text, lists, code, and more for a versatile and durable typography system.
*/
body {
  font-family: "Merriweather", Georgia, serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  color: #574b4b;
  background-color: #574b4b;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Gotham SSm A", "Gotham SSm B", Helvetica, Arial, "Nimbus Sans L", sans-serif;
  font-weight: 600;
  line-height: 1.125;
}

h1, h2 {
  letter-spacing: -1px;
}

h4, h5, h6 {
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #b00911;
}

h1 {
  color: #a40810;
}

h2 {
  color: #b00911;
}

h3 {
  color: #b00911;
}

a:link, a[href*="example.com"] {
  color: #149ce4;
}
a:visited, a[href*="worldpulse.com"] {
  color: #e7242e;
}
a:visited:hover, a[href*="worldpulse.com"]:hover, a:visited:focus, a[href*="worldpulse.com"]:focus {
  color: #b00911;
}
a:hover, a:focus {
  color: #0f76ac;
}
a:active {
  color: #71060b;
}

ul.inline, ol.inline {
  list-style-type: none;
  margin: 1em 0;
  padding: 0;
}
ul.inline li, ol.inline li {
  display: inline-block;
  margin-right: 1em;
}

ul ul,
ul ol,
ol ol,
ol ul {
  margin-bottom: 0;
}

hr {
  height: 1px;
  border: 1px solid #666;
  padding-bottom: -1px;
  margin: 1em 0;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

::-moz-selection {
  background: #e7242e;
  color: #fefefe;
  text-shadow: none;
}

::selection {
  background: #e7242e;
  color: #fefefe;
  text-shadow: none;
}

code, kbd, pre, samp {
  font-family: "Consolas", "Monaco", "Courier New", "DejaVu Sans Mono", monospace, sans-serif;
}

blockquote {
  position: relative;
  font-family: "Archer SSm A", "Archer SSm B", Helvetica, Arial, "Nimbus Sans L", sans-serif;
  color: #965100;
  quotes: "\201C" "\201D" "\2018" "\2019";
  border-left: 0;
  padding: 0 40px;
  margin: 2em 0;
}
blockquote:before, blockquote:after, blockquote cite {
  font-family: "Archer SSm A", "Archer SSm B", Helvetica, Arial, "Nimbus Sans L", sans-serif;
  font-style: italic;
  font-weight: 400;
  color: #af5f00;
}
blockquote:before, blockquote:after {
  position: absolute;
  font-size: 4em;
  line-height: 0;
}
blockquote:before {
  top: 0.25em;
  left: 0;
  content: open-quote;
}
blockquote:after {
  bottom: 0;
  right: 0;
  content: close-quote;
}
blockquote cite {
  display: block;
  font-size: 0.875em;
  text-align: right;
}
blockquote cite:before {
  content: "\2014";
}

.sep {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75);
  opacity: 0.75;
}

.styleguide-sample, .styleguide-typography .typeface {
  border: 1px solid #d6cbcb;
  border-radius: 3px;
  margin: 1em auto;
}

.styleguide-content:after, .styleguide-swatches:after, .clearfix:after {
  content: "";
  display: table;
  clear: both;
}

p:empty {
  display: none;
}

code {
  font-size: 0.825em;
  padding: 3px 5px;
  border: 1px solid #e8e0e0;
  border-radius: 3px;
  background-color: rgba(254, 254, 254, 0.75);
}

body {
  background: #f3efef;
}

.styleguide-container {
  position: relative;
}
.styleguide-container header, .styleguide-container footer {
  padding: 0.5em;
}
.styleguide-container header > div, .styleguide-container footer > div {
  margin: 0 auto;
  max-width: 1000px;
}
.styleguide-container > header {
  background-color: #71060b;
  -webkit-box-shadow: 1px 0 5px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 0 5px rgba(0, 0, 0, 0.2);
  color: #fefefe;
  margin-bottom: 1em;
}
@media (min-width: 45em) {
  .styleguide-container > header {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
    height: 72px;
  }
}
.styleguide-container > header a {
  color: #fff;
  text-decoration: none;
}
.styleguide-container > header #logo {
  max-width: 280px;
}
.styleguide-container > footer {
  margin-top: 2em;
  color: #999;
  font-size: 0.75em;
  border-top: 1px solid #d6cbcb;
}
.styleguide-container > main {
  margin: 10px;
}
@media (min-width: 51.25em) {
  .styleguide-container > main {
    margin-left: 0;
    padding-left: 240px;
  }
}
@media (min-width: 45em) {
  .styleguide-container > main {
    margin-top: 76px;
  }
}
.styleguide-container section {
  padding-bottom: 1em;
  border-bottom: 1px dotted #d6cbcb;
  margin-bottom: 1em;
}
.styleguide-container section.heading {
  padding-bottom: 0;
  border-bottom: 2px solid #d6cbcb;
  margin-top: 4em;
}
.styleguide-container section:last-child {
  border-bottom: 0;
}
.styleguide-container h1 + section.heading {
  margin-top: 0;
}

.styleguide-content {
  margin: 0 auto;
  padding: 0.5em;
  max-width: 1000px;
}

.styleguide-nav {
  display: none;
  font-size: 0.875em;
}
@media (max-width: 51.1875em) {
  .styleguide-nav {
    display: block;
  }
}
@media (min-width: 51.25em) {
  .styleguide-nav {
    display: block;
    position: fixed;
    left: 10px;
    width: 220px;
  }
}
.styleguide-nav ul, .styleguide-nav li {
  list-style: none;
  margin: 0;
  padding: 0;
}
.styleguide-nav ul {
  border-radius: 2px;
  border-top: 1px solid #e8e0e0;
  border-bottom: 1px solid #fefefe;
  border-left: 1px solid #e1d9d9;
  border-right: 1px solid #e1d9d9;
}
.styleguide-nav li.heading, .styleguide-nav li:not(.heading) a {
  display: block;
  padding: 0.5em 1em;
  border-top: 1px solid #fefefe;
  border-bottom: 1px solid #e8e0e0;
  background-color: #f3efef;
  text-decoration: none;
}
.styleguide-nav li.heading:hover, .styleguide-nav li:not(.heading) a:hover {
  background: #fefefe;
}
.styleguide-nav li:not(.heading) a {
  background-color: #f8f6f6;
}
.styleguide-nav li.heading {
  text-transform: uppercase;
  color: #574b4b;
  font-weight: bold;
}
.styleguide-nav li.heading:hover {
  background: #e8e0e0;
}
.styleguide-nav li.heading a {
  display: block;
  float: right;
  text-decoration: none;
}
.styleguide-nav li.current a {
  font-weight: 600;
}

.styleguide-sample .example, .styleguide-sample .code {
  padding: 1em;
}
.styleguide-sample .example {
  background-color: #fefefe;
}
.styleguide-sample .code {
  border-top: 1px solid #e1d9d9;
  background: #f8f6f6;
}
.styleguide-sample .code code {
  font-size: inherit;
  color: inherit;
  padding: inherit;
  border: none;
  background-color: transparent;
}
.styleguide-sample .code pre {
  margin: 0;
  font-size: 0.75em;
}

.status-green {
  color: #04982c;
}

.crimson {
  color: #b00911;
}

@media (min-width: 47.5em) {
  .styleguide-swatches {
    border: 1px solid #d6cbcb;
    border-radius: 3px;
    margin: 1em auto;
  }
}
.styleguide-swatches ol {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}
@media (max-width: 34.9375em) {
  .styleguide-swatches ol {
    border: 1px solid #d6cbcb;
    border-radius: 3px;
    margin: 1em auto;
    margin: 0 0 1em 0;
  }
}
@media (min-width: 35em) and (max-width: 47.4375em) {
  .styleguide-swatches ol {
    border: 1px solid #d6cbcb;
    border-radius: 3px;
    margin: 1em auto;
    margin: 0 0 1em 0;
  }
}
@media (min-width: 47.5em) {
  .styleguide-swatches ol {
    width: 20%;
    clear: right;
    float: left;
    margin-right: 0%;
  }
  [dir="rtl"] .styleguide-swatches ol {
    clear: left;
    float: right;
    margin-left: 0%;
  }
  .styleguide-swatches ol:last-child {
    margin-right: 0;
  }
}
.styleguide-swatches ol.purple .title {
  background-color: #fefefe;
  color: #b00911;
}
.styleguide-swatches ol.purple .dark {
  background-color: #71060b;
}
.styleguide-swatches ol.purple .dark span:after {
  content: "#71060b";
}
.styleguide-swatches ol.purple .dark .high {
  background-color: #89070d;
}
.styleguide-swatches ol.purple .dark .low {
  background-color: #590509;
}
.styleguide-swatches ol.purple .main {
  background-color: #b00911;
}
.styleguide-swatches ol.purple .main span:after {
  content: "#b00911";
}
.styleguide-swatches ol.purple .main .high {
  background-color: #c80a13;
}
.styleguide-swatches ol.purple .main .low {
  background-color: #98080f;
}
.styleguide-swatches ol.purple .light {
  background-color: #e7242e;
}
.styleguide-swatches ol.purple .light span:after {
  content: "#e7242e";
}
.styleguide-swatches ol.purple .light .high {
  background-color: #ea3b44;
}
.styleguide-swatches ol.purple .light .low {
  background-color: #da1822;
}
.styleguide-swatches ol.purple .highlight {
  background-color: #ec9498;
}
.styleguide-swatches ol.purple .highlight span:after {
  content: "#ec9498";
}
.styleguide-swatches ol.purple .highlight .high {
  background-color: #f0aaad;
}
.styleguide-swatches ol.purple .highlight .low {
  background-color: #e87e83;
}
.styleguide-swatches ol.blue .title {
  background-color: #fefefe;
  color: #149ce4;
}
.styleguide-swatches ol.blue .dark {
  background-color: #0f76ac;
}
.styleguide-swatches ol.blue .dark span:after {
  content: "#0f76ac";
}
.styleguide-swatches ol.blue .dark .high {
  background-color: #1186c3;
}
.styleguide-swatches ol.blue .dark .low {
  background-color: #0d6695;
}
.styleguide-swatches ol.blue .main {
  background-color: #149ce4;
}
.styleguide-swatches ol.blue .main span:after {
  content: "#149ce4";
}
.styleguide-swatches ol.blue .main .high {
  background-color: #26a7ec;
}
.styleguide-swatches ol.blue .main .low {
  background-color: #128ccd;
}
.styleguide-swatches ol.blue .light {
  background-color: #63bbf1;
}
.styleguide-swatches ol.blue .light span:after {
  content: "#63bbf1";
}
.styleguide-swatches ol.blue .light .high {
  background-color: #7ac5f3;
}
.styleguide-swatches ol.blue .light .low {
  background-color: #4cb1ef;
}
.styleguide-swatches ol.blue .highlight {
  background-color: #a0d6f6;
}
.styleguide-swatches ol.blue .highlight span:after {
  content: "#a0d6f6";
}
.styleguide-swatches ol.blue .highlight .high {
  background-color: #b7e0f8;
}
.styleguide-swatches ol.blue .highlight .low {
  background-color: #89ccf4;
}
.styleguide-swatches ol.orange .title {
  background-color: #fefefe;
  color: #fc8800;
}
.styleguide-swatches ol.orange .dark {
  background-color: #af5f00;
}
.styleguide-swatches ol.orange .dark span:after {
  content: "#af5f00";
}
.styleguide-swatches ol.orange .dark .high {
  background-color: #c96d00;
}
.styleguide-swatches ol.orange .dark .low {
  background-color: #965100;
}
.styleguide-swatches ol.orange .main {
  background-color: #fc8800;
}
.styleguide-swatches ol.orange .main span:after {
  content: "#fc8800";
}
.styleguide-swatches ol.orange .main .high {
  background-color: #ff9417;
}
.styleguide-swatches ol.orange .main .low {
  background-color: #e37a00;
}
.styleguide-swatches ol.orange .light {
  background-color: #ffa73f;
}
.styleguide-swatches ol.orange .light span:after {
  content: "#ffa73f";
}
.styleguide-swatches ol.orange .light .high {
  background-color: #ffb359;
}
.styleguide-swatches ol.orange .light .low {
  background-color: #ff9b25;
}
.styleguide-swatches ol.orange .highlight {
  background-color: #ffd19b;
}
.styleguide-swatches ol.orange .highlight span:after {
  content: "#ffd19b";
}
.styleguide-swatches ol.orange .highlight .high {
  background-color: #ffddb4;
}
.styleguide-swatches ol.orange .highlight .low {
  background-color: #ffc582;
}
.styleguide-swatches ol.red .title {
  background-color: #fefefe;
  color: #b00911;
}
.styleguide-swatches ol.red .dark {
  background-color: #71060b;
}
.styleguide-swatches ol.red .dark span:after {
  content: "#71060b";
}
.styleguide-swatches ol.red .dark .high {
  background-color: #89070d;
}
.styleguide-swatches ol.red .dark .low {
  background-color: #590509;
}
.styleguide-swatches ol.red .main {
  background-color: #b00911;
}
.styleguide-swatches ol.red .main span:after {
  content: "#b00911";
}
.styleguide-swatches ol.red .main .high {
  background-color: #c80a13;
}
.styleguide-swatches ol.red .main .low {
  background-color: #98080f;
}
.styleguide-swatches ol.red .light {
  background-color: #e7242e;
}
.styleguide-swatches ol.red .light span:after {
  content: "#e7242e";
}
.styleguide-swatches ol.red .light .high {
  background-color: #ea3b44;
}
.styleguide-swatches ol.red .light .low {
  background-color: #da1822;
}
.styleguide-swatches ol.red .highlight {
  background-color: #ec9498;
}
.styleguide-swatches ol.red .highlight span:after {
  content: "#ec9498";
}
.styleguide-swatches ol.red .highlight .high {
  background-color: #f0aaad;
}
.styleguide-swatches ol.red .highlight .low {
  background-color: #e87e83;
}
.styleguide-swatches ol.grey .title {
  background-color: #fefefe;
  color: #574b4b;
}
.styleguide-swatches ol.grey .dark {
  background-color: #2b2121;
}
.styleguide-swatches ol.grey .dark span:after {
  content: "#2b2121";
}
.styleguide-swatches ol.grey .dark .high {
  background-color: #392c2c;
}
.styleguide-swatches ol.grey .dark .low {
  background-color: #1d1616;
}
.styleguide-swatches ol.grey .main {
  background-color: #574b4b;
}
.styleguide-swatches ol.grey .main span:after {
  content: "#574b4b";
}
.styleguide-swatches ol.grey .main .high {
  background-color: #655757;
}
.styleguide-swatches ol.grey .main .low {
  background-color: #493f3f;
}
.styleguide-swatches ol.grey .light {
  background-color: #d6cbcb;
}
.styleguide-swatches ol.grey .light span:after {
  content: "#d6cbcb";
}
.styleguide-swatches ol.grey .light .high {
  background-color: #e1d9d9;
}
.styleguide-swatches ol.grey .light .low {
  background-color: #cbbdbd;
}
.styleguide-swatches ol.grey .highlight {
  background-color: #f3efef;
}
.styleguide-swatches ol.grey .highlight span:after {
  content: "#f3efef";
}
.styleguide-swatches ol.grey .highlight .high {
  background-color: #fefefe;
}
.styleguide-swatches ol.grey .highlight .low {
  background-color: #e8e0e0;
}
.styleguide-swatches ol.green .title {
  background-color: #fefefe;
  color: #04982c;
}
.styleguide-swatches ol.green .dark {
  background-color: #005918;
}
.styleguide-swatches ol.green .dark span:after {
  content: "#005918";
}
.styleguide-swatches ol.green .dark .high {
  background-color: #00721f;
}
.styleguide-swatches ol.green .dark .low {
  background-color: #003f11;
}
.styleguide-swatches ol.green .main {
  background-color: #04982c;
}
.styleguide-swatches ol.green .main span:after {
  content: "#04982c";
}
.styleguide-swatches ol.green .main .high {
  background-color: #05b133;
}
.styleguide-swatches ol.green .main .low {
  background-color: #037f25;
}
.styleguide-swatches ol.green .light {
  background-color: #2bcc57;
}
.styleguide-swatches ol.green .light span:after {
  content: "#2bcc57";
}
.styleguide-swatches ol.green .light .high {
  background-color: #3bd665;
}
.styleguide-swatches ol.green .light .low {
  background-color: #27b74e;
}
.styleguide-swatches ol.green .highlight {
  background-color: #8adda1;
}
.styleguide-swatches ol.green .highlight span:after {
  content: "#8adda1";
}
.styleguide-swatches ol.green .highlight .high {
  background-color: #9ee3b1;
}
.styleguide-swatches ol.green .highlight .low {
  background-color: #76d791;
}
.styleguide-swatches ol li.highlight span:after {
  color: #2b2121;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5);
}
@media (min-width: 47.5em) {
  .styleguide-swatches ol:last-child li {
    border-right: 0 !important;
  }
}
.styleguide-swatches li {
  position: relative;
  padding: 1em;
  text-align: center;
  color: #fefefe;
}
@media (max-width: 34.9375em) {
  .styleguide-swatches li.dark, .styleguide-swatches li.main, .styleguide-swatches li.light, .styleguide-swatches li.highlight {
    width: 50%;
    clear: right;
    float: left;
    margin-right: 0%;
  }
  [dir="rtl"] .styleguide-swatches li.dark, [dir="rtl"] .styleguide-swatches li.main, [dir="rtl"] .styleguide-swatches li.light, [dir="rtl"] .styleguide-swatches li.highlight {
    clear: left;
    float: right;
    margin-left: 0%;
  }
  .styleguide-swatches li.title {
    z-index: 50;
    padding: 1em;
  }
  .styleguide-swatches li.main .styleguide-swatches li.highlight {
    margin-right: 0;
  }
  .styleguide-swatches li.dark, .styleguide-swatches li.main {
    padding: 1.75em 0 1em 0;
  }
  .styleguide-swatches li.dark .accent, .styleguide-swatches li.main .accent {
    top: 0;
  }
  .styleguide-swatches li.light, .styleguide-swatches li.highlight {
    padding: 1em 0 1.75em 0;
  }
  .styleguide-swatches li.light .accent, .styleguide-swatches li.highlight .accent {
    bottom: 0;
  }
}
@media (min-width: 35em) and (max-width: 47.4375em) {
  .styleguide-swatches li.dark, .styleguide-swatches li.main, .styleguide-swatches li.light, .styleguide-swatches li.highlight {
    padding: 1em 0 1.75em 0;
    width: 25%;
    clear: right;
    float: left;
    margin-right: 0%;
  }
  [dir="rtl"] .styleguide-swatches li.dark, [dir="rtl"] .styleguide-swatches li.main, [dir="rtl"] .styleguide-swatches li.light, [dir="rtl"] .styleguide-swatches li.highlight {
    clear: left;
    float: right;
    margin-left: 0%;
  }
  .styleguide-swatches li.title {
    z-index: 50;
    padding: 1em;
  }
  .styleguide-swatches li.highlight {
    margin-right: 0;
  }
}
@media (min-width: 47.5em) {
  .styleguide-swatches li {
    padding: 1em 25% 1em 0;
    border-right: 1px solid #fefefe;
  }
  .styleguide-swatches li.title {
    padding: 1em 0;
    border-right: 1px solid #e8e0e0;
  }
}
.styleguide-swatches li.main {
  z-index: 25;
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.85);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.85);
}
.styleguide-swatches li span {
  position: relative;
  z-index: 50;
}
.styleguide-swatches li span:after {
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5);
}
.styleguide-swatches .accent {
  position: absolute;
}
@media (max-width: 34.9375em) {
  .styleguide-swatches .accent {
    height: 0.75em;
  }
  .styleguide-swatches .accent.low {
    left: 0;
    right: 50%;
  }
  .styleguide-swatches .accent.high {
    left: 50%;
    right: 0;
  }
}
@media (min-width: 35em) and (max-width: 47.4375em) {
  .styleguide-swatches .accent {
    height: 0.75em;
    bottom: 0;
  }
  .styleguide-swatches .accent.low {
    left: 0;
    right: 50%;
  }
  .styleguide-swatches .accent.high {
    left: 50%;
    right: 0;
  }
}
@media (min-width: 47.5em) {
  .styleguide-swatches .accent {
    right: 0;
    width: 25%;
  }
  .styleguide-swatches .accent.low {
    top: 0;
    bottom: 50%;
  }
  .styleguide-swatches .accent.high {
    top: 50%;
    bottom: 0;
  }
}
.styleguide-swatches .title {
  font-style: italic;
}

.styleguide-typography .whitney, .styleguide-typography .whitney h3 {
  font-family: "Whitney SSm A", "Whitney SSm B", Helvetica, Arial, "Nimbus Sans L", sans-serif;
  font-weight: 400;
}
.styleguide-typography .merriweather, .styleguide-typography .merriweather h3 {
  font-family: "Merriweather", Georgia, serif;
  font-weight: 400;
}
.styleguide-typography .archer, .styleguide-typography .archer h3 {
  font-family: "Archer SSm A", "Archer SSm B", Helvetica, Arial, "Nimbus Sans L", sans-serif;
  font-weight: 400;
}
.styleguide-typography .typeface {
  overflow: hidden;
  background: #fefefe;
  padding: 1em;
}
.styleguide-typography .typeface h3 {
  font-size: 3em;
  margin: 0;
}
.styleguide-typography .typeface h3 a {
  color: #149ce4 !important;
  text-decoration: none;
}
.styleguide-typography .typeface .purpose {
  text-align: center;
  padding: 0.5em;
  border-top: 1px solid #f3efef;
  border-bottom: 1px solid #f3efef;
  margin: 0.5em 0.75em;
}
@media (min-width: 36.25em) {
  .styleguide-typography .typeface .purpose {
    padding: 1em 1.5em;
    margin: 1em 1.5em;
  }
}
.styleguide-typography .typeface .largesample {
  position: relative;
  left: -150%;
  width: 400%;
  margin: 16px 0;
  text-align: center;
  overflow: hidden;
  color: #d6cbcb;
}
@media (max-width: 36.1875em) {
  .styleguide-typography .typeface .largesample {
    height: 2.3em;
    font-size: 4.25em;
    line-height: 1.15;
    letter-spacing: -3px;
  }
}
@media (min-width: 36.25em) {
  .styleguide-typography .typeface .largesample {
    height: 3.375em;
    font-size: 6.75em;
    line-height: 1.125;
    letter-spacing: -4px;
  }
}
.styleguide-typography .typeface.whitney .largesample {
  font-style: italic;
}
.styleguide-typography .typeface.archer .largesample {
  font-style: italic;
}
.styleguide-typography .typeface.gotham .largesample {
  text-transform: uppercase;
  font-weight: 600;
}
