////////////////////////
// Style Guide File
//
//  This file gets turned into styleguide.css. This file is only used
//  for the World Pulse Style Guide. This is for styling that framework only.
////////////////////////

////////////////////////
// Configuration, no CSS output.
//   variables
//   mixins
//   functions
//   compass extensions
////////////////////////
@import 'config/config';

/// Style Guide Breakpoints.
$breakpoints: add-breakpoint('fixed header', 720px);
$breakpoints: add-breakpoint('sg nav top', max-width 819px);
$breakpoints: add-breakpoint('sg nav side', 820px);
$breakpoints: add-breakpoint('sg swatches small', max-width 559px);
$breakpoints: add-breakpoint('sg swatches medium', 560px 759px);
$breakpoints: add-breakpoint('sg swatches large', 760px);
$breakpoints: add-breakpoint('sg typeplate small', max-width 579px);
$breakpoints: add-breakpoint('sg typeplate large', 580px);


// No global styles should be added in this file, unless they need to be
// extended. The styleguide includes the primary `style.css` file.
@import 'global/type'; // 'global/type' is extended in the link examples


////////////////////////
// Style Guide Only Styles
////////////////////////
@import 'styleguide/sg-extendables';
@import 'styleguide/styleguide';
