/**
* Form elements: Inputs, buttons, etc.
*/

form {
}

fieldset {
  border: 1px solid wp-color($tan, main);
  border-bottom-width: 2px;
  @include border-radius(3px);
  margin-bottom: 1em;
  padding: 1em;

  > legend {
    padding: 0 1em;
    font-family: $trade;
    color: wp-color($tan, main);
  }
}

legend {
}


label,
input,
button,
select,
textarea {

}

input,
button,
select,
textarea {
  max-width: 100%;
  font-family: $form-font-family; // And only set font-family here for those that need it (note the missing label element)
  padding: 0.55em;
  outline: 0;
  background-color: wp-color($grey, 'highlight', 5%);
  color: wp-color($tan, 'main');

  @include transition(box-shadow 0.3s ease-out, border 0.3s ease-out);
  &:focus {
    border-color: wp-color($green, 'main', 10%);
    background-color: #fff;
    color: wp-color($tan, 'dark');
    @include box-shadow(0 0 5px rgba(wp-color($green, 'bright'), 0.8));
  }
}

textarea {
  display: block; // Not "inline" like other fields
}

%imitate-form-label,
label {
  font-family: $trade-reg;
  font-size: 1.3em;
  color: wp-color($tan, main);
  input[type="radio"] + &,
  input[type="checkbox"] + & {
  }
}

input[type="text"],
input[type="password"],
input[type="email"],
textarea,
select {
  border: 1px solid wp-color($tan, main);
  &:focus {
    border-color: wp-color($green, 'main', 10%);
    background-color: #fff;
    @include box-shadow(0 0 5px rgba(wp-color($green, 'bright'), 0.8));
  }
}

input[type="password"] {
  // Verdana has better lookin' bullets for passwords.
  font-family: $verdana;
}

// Custom Styling for Radios and Checkboxes - using this method: http://www.hongkiat.com/blog/css3-checkbox-radio/

// Checkboxes
.checkbox, 
.radio {
  label {
    display: inline-block;  
    cursor: pointer;  
    position: relative;  
    padding-left: 1.5em;
    line-height: 1em;
    &:before {
      content: "";  
      display: inline-block;  
      width: 16px;  
      height: 16px;  
      margin-right: 1em;  
      position: absolute;  
      left: 0;  
      bottom: 1px;
      background-color: wp-color($tan, 'main', 35%);
    }
  }
}
.checkbox {
  label:before {
    @include border-radius(4px); 
    @include box-shadow(0 1px 1px rgba(wp-color($grey, 'dark', 15%), 0.8) inset);
  }
  input[type=checkbox] {
    display: none;
    &:checked + label:before {
      content: "\2713";  
      color: wp-color($green, 'main', -14%); 
      font-size: 15px;  
      text-align: center;  
      line-height: 15px;  
    }
  }
}
// Radios
.radio {
  label:before {
    @include border-radius(8px); 
    @include box-shadow(0 1px 1px rgba(wp-color($grey, 'dark', 15%), 0.8) inset);
  }
  input[type="radio"] {
    display: none;
    &:checked + label:before {
      content: "\2022";  
      color: wp-color($green, 'main', -14%);  
      font-size: 30px;  
      text-align: center;  
      line-height: 16px;
    }
  }
}
.form-required {
  color: wp-color($red);
}

.form-item {
  margin-bottom: 1em;
}

/**
 * LABELS AND FIELD ALIGNMENT
 */
.form-type-item,
.form-type-textfield,
.form-type-emailfield,
.form-type-select,
.form-type-password,
.form-type-password-confirm {
  @extend %clearfix;

  label {
    display: block;
  }

  .description {
    color: wp-color($grey, main, 20%);
  }

  @include respond-to('wide form labels') {
    label {
      float: left;
      width: 18%;
      margin-right: 2%;
      padding: 0.5em 0;
    }

    input {
      float: right;
      width: 80%;
    }

    .description {
      float: right;
      width: 80%;
    }
  }
}

// Radio buttons and checkboxes have a different output structure from the above,
// so we treat them separately.
.form-type-radios {
  @extend %clearfix;

  > label {
    display: block;
  }

  .description {
    color: wp-color($grey, main, 20%);
  }

  .form-item {
    margin-bottom: 0.25em;

    label {
      @include transition(color 0.3s ease-out);
    }

    input:checked + label {
      color: wp-color($blue);
    }
  }


  @include respond-to('wide form labels') {
    > label {
      float: left;
      width: 18%;
      margin-right: 2%;
      padding: 0.5em 0;
    }

    .form-radios {
      float: right;
      width: 80%;
      padding: 0.25em 0;
    }
  }
}

// Finally, text areas
.form-type-textarea {
  @extend %clearfix;

  > label {
    display: block;
  }

  .description {
    color: wp-color($tan, main, 20%);
  }

  @include respond-to('wide form labels') {
    > label {
      float: left;
      width: 18%;
      margin-right: 2%;
      padding: 0.5em 0;
    }

    .form-textarea-wrapper {
      float: right;
      width: 80%;
      padding: 0.25em 0;
    }
  }
}
