/**
* Typography: Headings, body text, lists, code, and more for a versatile and durable typography system.
*/

/** 
* Fix this!
*/

.main-container {
  ul, ol {
    font-size: 18px;
    line-height: 30px;
  }
}

body {
  font-family: $font-body;
  font-weight: $font-body-weight;
  font-size: $base-font-size;
  line-height: $base-line-height;
  color: color($tan, dark);
  background-color: $white;
}

p {
  margin-top: 0;
  font-size: 18px;
  line-height: 30px;
}

// Headings
//
// To achieve a pleasant vertical rhythm, we use Compass' Vertical Rhythm mixins
// so that the line height of our base font becomes the basic unit of vertical
// measurement. We use multiples of that unit to set the top and bottom margins
// for our block level elements and to set the line heights of any fonts.
// For more information, see http://24ways.org/2006/compose-to-a-vertical-rhythm

#{headings()} {
  font-family: $trade;
  font-weight: 400;
  line-height: 1.125;
}

#{headings(1)} {
  margin-top: 0;
}

#{headings(2,3)} {
  margin-top: 1.5em;
}

#{headings(3,6)} {
  text-transform: uppercase;
}

.homepage {
  h2.section-head {
    color: color($green);
    font-size: 2.5em;
  }
}

h1{
  color: color($green);
  font-size: 2.5em;
}

h2 {
  color: color($green);
  font-size: 2em;
}

h3 {
  color: color($green);
  font-size: 1.6em;
}

h4 {
  font-size: 1.4em;
  color: color($tan, 'dark');
}

h5 {

}

h6 {

}


// Links
//
// The order of link states are based on Eric Meyer's article:
// http://meyerweb.com/eric/thoughts/2007/06/11/who-ordered-the-link-states
a {
  &:link {
  color: $link;
  text-decoration: none;
  }
  &:visited {
    color: $visited;
    &:hover, &:focus {
      color: color($blue, dark);
    }
  }

  &:hover, &:focus {
    color: color($blue, dark);
  }

  &:active {
    color: color($blue, dark);
  }
  
  &.link-bold {
    font-weight: 700;
  }
}

// Links within content
#main {
  p, ul li, ol li, .contact, .map, .related-content {
    a {
      color: $link;
      cursor: pointer;
      text-decoration: none;
      border-bottom: 1px solid color($blue, bright);
      &:visited {
        color: $visited;
        &:hover, &:focus {
          color: color($blue, dark);
          border-bottom: 1px solid color($blue, dark);
        }
      }
    
      &:hover, &:focus {
        color: color($blue, dark);
        border-bottom: 1px solid color($blue, dark);
      }
    
      &:active {
        color: color($blue, dark);
        border-bottom: 1px solid color($blue, dark);
      }
      
      &.link-bold {
        font-weight: 700;
      }
    }
  }
  .menu-left-sidebar {
    ul li {
      a {
        color: $white;
      }
    }
  }
}

// Download Forms

a.form-download {
  border-bottom: 2px solid color($blue, bright);
  color: $link;
  font-weight: 700;
  text-decoration: none;
  &:visited {
    color: $visited;
    &:hover, &:focus {
      color: color($blue, dark);
      border-bottom: 2px solid color($blue, dark);
    }
  }

  &:hover, &:focus {
    color:  color($blue, dark);
    border-bottom: 2px solid color($blue, dark);
  }

  &:active {
    color: color($blue, dark);
    border-bottom: 2px solid color($blue, dark);
  }
}

p.form-icon {
  &:before {
    content: url("../images/icons/icon-download-form.png");
    margin-right: 7px;
    margin-top: 4px;
    float: left;
  }
}


// Lists

ul, ol {

  &.inline {
    list-style-type: none;
    margin: 1em 0;
    padding: 0;

    li {
      display: inline-block;
      margin-right: 1em;
    }
  }
}

ul ul,
ul ol,
ol ol,
ol ul {
  margin-bottom: 0;
}

ul {

}

ol {

}

li {

}

ul.unstyled,
ol.unstyled {

}

// Misc.

hr {
  height: 1px;
  border: 1px solid #666;
  padding-bottom: -1px;
  margin: 1em 0;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}


// Remove text-shadow in selection highlight: h5bp.com/i
// These selection declarations have to be separate
::-moz-selection { background: $selection-bg; color: $selection; text-shadow: none; }
::selection { background: $selection-bg; color: $selection; text-shadow: none; }

code, kbd, pre, samp {
  font-family: $monospace;
}

blockquote {
  font-family: $trade-reg;
  padding: 0 .75em;
  margin: 2em 0 2em 1em;
  border-left: .5em solid color($yellow, dark);
  color: color($tan);
  line-height: 1.5em;
  p {
    font-size: 22px;
    line-height: 32px;
    margin-bottom: .5em;
  }
}

.sep {
  // Separators (probably pipe characters "|" but also small words like "by" in comment-meta)
  @include opacity(0.75);
}

.lead {
  font-size: 1.5em;
  line-height: 1.5em;
}