<footer id="footer">
  <div class="limiter">
    <ul class="menu">
      <li class="item1"><a href="#" title="News">News</a></li>
      <li class="item2"><a href="#" title="Social Media">Social Media</a></li>
      <li class="item3"><a href="#" title="Calendar">Calendar</a></li>
      <li class="item4"><a href="#" title="Contact Us">Contact Us</a></li>
      <li class="item5"><a href="#" title="Directory">Directory</a></li>
      <li class="item6"><a href="#" title="Map">Map</a></li>
      <li class="item7"><a href="#" title="Jobs">Jobs</a></li>
      <li class="item8"><a href="#" title="Tours">Tours</a></li>
      <li class="item9"><a href="#" title="Library">Library</a></li>
    </ul>
    <div class="donate">
      <button class="btn-primary btn-large">Donate</button>
      <ul class="links">
        <li><a href="#" title="Security Report">Security Report</a></li>
        <li><a href="#" title="Form 801">Form 801</a></li>
      </ul>
    </div>
  </div>
</footer>