<footer id="footer">
  <div class="limiter">
    <ul class="popular">
      <li class="title">Popular</li>
      <li><a href="#" title="Jobs">Jobs</a></li>
      <li><a href="#" title="Tours">Tours</a></li>
      <li><a href="#" title="Social Media">Social Media</a></li>
    </ul>
    <ul class="tools">
      <li class="title">Tools</li>
      <li><a href="#" title="Map">Map</a></li>
      <li><a href="#" title="Calendar">Calendar</a></li>
      <li><a href="#" title="Directory">Directory</a></li>
    </ul>
    <ul class="links">
      <li class="title">Links for</li>
      <li><a href="#" title="Parents">Parents</a></li>
      <li><a href="#" title="International Students">International Students</a></li>
      <li><a href="#" title="Local Community Members">Local Community Members</a></li>    
      <li><a href="#" title="Veterans">Veterans</a></li>
    </ul>
    <div class="donate">
      <ul class="other">
        <li><button class="btn-primary btn-large">Donate</button></li>
        <li><a href="#" title="Security Report">Security Report</a></li>
        <li><a href="#" title="Form 801">Form 801</a></li>
      </ul>
    </div>
    <p class="address">
    California State University, Monterey Bay</br>
    100 Campus Center
    Seaside, CA 93955-8001</br>
    831-582-3000</p>
  </div>
</footer>