<header id="header" class="interior mobile-menu logged-in">
  <div class="mobile-bar">
    <div class="navigation menu-block menu-block-2 main-two-levels">
      <ul class="menu">
        <li class="menu-item item-1 first"><span class="nolink">About</span>
          <ul class="menu">
            <li><a href="/basic-page.html">Basic Facts</a></li>
            <li><a href="/about-page.html">Why CSUMB?</a></li>
            <li><a href="#">The Campus</a></li>
            <li><a href="#">News &amp; Publications</a></li>
            <li><a href="#">Calendar</a></li>
            <li><a href="#">Donate</a></li>
          </ul>
        </li>
        <li class="menu-item item-2"><a href="/basic-page.html">Admissions</a>
        </li>
        <li class="menu-item item-3"><span class="nolink">Costs &amp; Aid</span>
          <ul class="menu">
            <li><a href="#">Costs and calculator</a></li>
            <li><a href="#">Financial Aid</a></li>
            <li><a href="#">Making Payments</a></li>
          </ul>
        </li>
        <li class="menu-item item-4"><span class="nolink">Academics</span>
          <ul class="menu">
            <li><a href="#">Degree Programs</a></li>
            <li><a href="#">Colleges, Schools, <br> and Departments</a></li>
            <li><a href="#">Classes and <br> Planning</a></li>
            <li><a href="#">Faculty</a></li>
            <li><a href="#">Academic Support <br> Services</a></li>
            <li><a href="#">Tools and <br> Resources</a></li>
          </ul>
        </li>
        <li class="menu-item item-5"><a>Campus Life</a>
        </li>
        <li class="menu-item item-6"><span class="nolink">Employee Resources</span>
          <ul class="menu">
            <li><a href="#">Tools and Databases</a></li>
            <li><a href="#">Human Resources, Benefits and Payroll</a></li>
            <li><a href="#">Information Technology</a></li>
            <li><a href="#">Travel</a></li>
            <li><a href="#">Housing, Dining, Parking, and Ottercard</a></li>
            <li><a href="#">Directory</a></li>
            <li><a href="#">Faculty Resources</a></li>
          </ul>
        </li>
        <li class="menu-item item-7 last"><a>Alumni</a>
        </li>
      </ul>
    </div>  
  </div>
  <div class="desktop-bar">
    <div class="navigation menu-block menu-block-4 main-two-levels">
      <ul class="tabbed menu" id="tabs">
        <li class="tab-1 first"><span class="nolink2">About</span></li>
        <li class="tab-2"><a href="/basic-page.html">Admissions</a></li>
        <li class="tab-3"><span class="nolink2">Costs &amp; Aid</span></li>
        <li class="tab-4"><span class="nolink2">Academics</span></li>
        <li class="tab-5"><a>Campus Life</a></li>
        <li class="tab-6"><span class="nolink2">Employee Resources</span></li>
        <li class="tab-7 last"><a>Alumni</a></li>
      </ul>
      <div class="panels">
      <div class="limiter">
          <div class="panel panel-1 .tabContent">
            <ul>
              <li><a href="/basic-page.html">Basic Facts</a></li>
              <li><a href="/about-page.html">Why CSUMB?</a></li>
              <li><a href="#">The Campus</a></li>
              <li><a href="#">News &amp; Publications</a></li>
              <li><a href="#">Calendar</a></li>
              <li><a href="#">Donate</a></li>
            </ul>
          </div>      
          <div class="panel panel-3 .tabContent">
            <ul>
              <li><a href="#">Costs and calculator</a></li>
              <li><a href="#">Financial Aid</a></li>
              <li><a href="#">Making Payments</a></li>
            </ul>
          </div>      
          <div class="panel panel-4 .tabContent">
            <ul>
              <li><a href="#">Degree Programs</a></li>
              <li><a href="#">Colleges, Schools, <br> and Departments</a></li>
              <li><a href="#">Classes and <br> Planning</a></li>
              <li><a href="#">Faculty</a></li>
              <li><a href="#">Academic Support <br> Services</a></li>
              <li><a href="#">Tools and <br> Resources</a></li>
            </ul>
          </div>      
          <div class="panel panel-6 .tabContent">
            <ul>
              <li><a href="#">Tools and Databases</a></li>
              <li><a href="#">Human Resources, Benefits and Payroll</a></li>
              <li><a href="#">Information Technology</a></li>
              <li><a href="#">Travel</a></li>
              <li><a href="#">Housing, Dining, Parking, and Ottercard</a></li>
              <li><a href="#">Directory</a></li>
              <li><a href="#">Faculty Resources</a></li>
            </ul>
          </div>   
        </div><!--/.limiter-->
      </div><!--/.panels-->  
    </div> <!--/nav-->
  </div><!--/desktop-bar-->
  <div class="logo-actions-wrap blue-bg">  
    <div class="limiter">
      <div class="actions">
        <ul class="toggles desktop">
          <li><a href="#" class="pull-nav-desktop toggle"><span>Main Menu</span></a></li>
        </ul>     
        <div class="user-login logged-in">
          <a href="#" class="no-toggle login-link" title="Login"><span>Login</span></a>
          <ul class="student-info">
            <li class="name logged-in">
            <span class="no-link name pull-student-menu">Rashida Jones</span>
              <ul class="user-actions">
                <li class="favorite">
                  <a href="#" class="no-toggle" title="Add to Shortcuts"><span>Add to Shortcuts</span></a>
                </li>
                <li class="profile">
                  <a href="#" class="no-toggle" title="View Profile"><span>View Profile</span></a>
                </li>                
                <li class="logout">
                  <a href="#" class="no-toggle" title="Logout"><span>Logout</span></a>
                </li>
              </ul>
            </li>
          </ul>
        </div><!--/user-login-logged-in-->
        <div class="block-search logged-in">
          <div class="form-item-search-block-form">
            <label class="element-invisible">Search </label>
            <input placeholder="Search CSUMB" type="text" name="search_block_form" class="form-text">
          </div><!--/.form-item-block-search-->
        </div><!--/.block-search-->
      </div><!--/.actions-->
      <div class="logo desktop">
        <a href="/index.html" title="CSUMB Home Page"><img src="../images/logos/csumb-logo-blue.svg" alt="CSUMB Logo" title="Cal State Monteray Bay"/></a>
      </div><!--/.logo-desktop-->
    </div><!--/.limiter-->
  </div><!--/.logo-actions-wrap-->
   
  <div class="mobile-wrap">
    <div class="logo-mobile">
      <a href="/index.html" title="CSUMB Home Page"><img src="../images/logos/csumb-logo-blue.svg" alt="CSUMB Logo" title="Cal State Monteray Bay"/></a>
    </div> 
     <div class="logo-mobile-small">
      <a href="/index.html" title="CSUMB Home Page"><img src="../images/logos/csumb-logo-blue-no-otter.svg" alt="CSUMB Logo" title="Cal State Monteray Bay"/></a>
    </div>          
    <ul class="toggles mobile">
      <li class="first logged-in"><a href="#" class="pull-nav-main toggle"><span>Main Menu</span></a></li>
      <li><a href="#" class="pull-search toggle"><span>Search</span></a></li>
    </ul>
    <div class="user-login mobile logged-in">
      <a href="#" class="no-toggle login-link" title="Login"><span>Login</span></a>
      <ul class="student-info">
        <li class="name logged-in">
        <span class="no-link name pull-student-menu">Rashida Jones</span>
          <ul class="user-actions">
            <li class="favorite">
              <a href="#" class="no-toggle" title="Add to Shortcuts"><span>Add to Shortcuts</span></a>
            </li>
            <li class="profile">
              <a href="#" class="no-toggle" title="View Profile"><span>View Profile</span></a>
            </li>                
            <li class="logout">
              <a href="#" class="no-toggle" title="Logout"><span>Logout</span></a>
            </li>
          </ul>
        </li>
      </ul>
    </div>    
  </div><!--/.mobile-wrap--> 
    <div class="title-wrap">
      <div class="limiter">
        <div class="page-title">
          <h1>Your Dashboard</h1>
        </div>  
        <ul class="toggles main">
          <li><a href="#" class="pull-nav toggle"><span>Student Menu</span> </a></li>
        </ul>        
      </div><!--/.limiter-->
    </div><!--/.title-wrap-->
  <div class="navigation-wrap student">
    <div class="navigation menu-block menu-block-5 student-menu student-menu-two-levels">
      <ul class="menu">
        <li class="menu-item item-1 first"><a>iLearn</a></li>
        <li class="menu-item item-2"><a>CMS</a></li>
        <li class="menu-item item-3"><a>Email</a></li>
        <li class="menu-item item-4"><a>My Calendar</a></li>
        <li class="menu-item item-5"><a>MyBookings</a></li>
        <li class="menu-item item-6 last"><a>MyHousing</a></li>
      </ul>
    </div> <!--/.navigation-student-menu-block-->
  </div> <!--/.navigation-wrap-student-->
</header>
<div class="header-image student-page">
  <img src="../images/photos/header-students-three-big.jpg" alt="CSUMB Image" class="desktop" title="Cal State Monteray Bay Students"/> 
  <img src="../images/photos/header-students-three-mobile.jpg" alt="CSUMB Image" class="mobile" title="Cal State Monteray Bay Students"/>   
</div><!--/.header-image-student-page-->
