<div class="header-image">
  <img src="../images/photos/header-students-big.jpg" alt="CSUMB Image" title="Cal State Monteray Bay Students"/> 
</div>
<header id="header">
  <div class="mobile-bar">     
    <div class="navigation menu-block menu-block-2 main-two-levels">
      <ul class="menu">
        <li class="menu-item item-1 first"><span class="nolink">About</span>
          <ul class="menu">
            <li><a href="/basic-page.html">Basic Facts</a></li>
            <li><a href="/about-page.html">Why CSUMB?</a></li>
            <li><a href="#">The Campus</a></li>
            <li><a href="#">News &amp; Publications</a></li>
            <li><a href="#">Calendar</a></li>
            <li><a href="#">Donate</a></li>
          </ul>
        </li>
        <li class="menu-item item-2"><a href="/basic-page.html">Admissions</a>
        </li>
        <li class="menu-item item-3"><span class="nolink">Costs &amp; Aid</span>
          <ul class="menu">
            <li><a href="#">Costs and calculator</a></li>
            <li><a href="#">Financial Aid</a></li>
            <li><a href="#">Making Payments</a></li>
          </ul>
        </li>
        <li class="menu-item item-4"><span class="nolink">Academics</span>
          <ul class="menu">
            <li><a href="#">Degree Programs</a></li>
            <li><a href="#">Colleges, Schools, <br> and Departments</a></li>
            <li><a href="#">Classes and <br> Planning</a></li>
            <li><a href="#">Faculty</a></li>
            <li><a href="#">Academic Support <br> Services</a></li>
            <li><a href="#">Tools and <br> Resources</a></li>
          </ul>
        </li>
        <li class="menu-item item-5"><a>Campus Life</a>
        </li>
        <li class="menu-item item-6"><span class="nolink">Employee Resources</span>
          <ul class="menu">
            <li><a href="#">Tools and Databases</a></li>
            <li><a href="#">Human Resources, Benefits and Payroll</a></li>
            <li><a href="#">Information Technology</a></li>
            <li><a href="#">Travel</a></li>
            <li><a href="#">Housing, Dining, Parking, and Ottercard</a></li>
            <li><a href="#">Directory</a></li>
            <li><a href="#">Faculty Resources</a></li>
          </ul>
        </li>
        <li class="menu-item item-7 last"><a>Alumni</a>
        </li>
      </ul>
    </div><!--/.navigation-->
  </div><!--/.mobile-bar-->
  <div class="logo-actions-wrap"> 
    <div class="limiter">
      <div class="actions">  
        <div class="user-login">
          <button class="btn-primary">Login</button>
        </div><!--/.user-->
        <div class="block-search">
          <div class="form-item-search-block-form">
            <label class="element-invisible">Search </label>
            <input placeholder="Search CSUMB" type="text" name="search_block_form" class="form-text">
          </div><!--/.form-item-block-search-->
        </div><!--/.block-search-->
      </div><!--/.actions-->
      <div class="logo">
        <a href="/index.html" title="CSUMB Home Page"><img src="../images/logos/csumb-logo-white.svg" alt="CSUMB Logo" title="Cal State Monteray Bay"/></a>
      </div><!--/.logo-->
    </div><!--/.limiter-->
  </div><!--/.logo-actions-wrap-->
  <div class="mobile-wrap">
      <div class="logo-mobile">
        <a href="/index.html" title="CSUMB Home Page"><img src="../images/logos/csumb-logo-blue.svg" alt="CSUMB Logo" title="Cal State Monteray Bay"/></a>
      </div> 
       <div class="logo-mobile-small">
        <a href="/index.html" title="CSUMB Home Page"><img src="../images/logos/csumb-logo-blue-no-otter.svg" alt="CSUMB Logo" title="Cal State Monteray Bay"/></a>
      </div>                 
      <ul class="toggles mobile">
        <li class="first"><a href="#" class="pull-nav-main toggle"><span>Main Menu</span></a></li>
        <li><a href="user/login" class="pull-user toggle"><span>Login</span></a></li>
        <li><a href="#" class="pull-search toggle"><span>Search</span></a></li>
      </ul>
  </div><!--/.mobile-wrap-->  
  <div class="navigation-wrap one-menu">
    <div class="navigation menu-block menu-block-1 main-one-levels">
      <ul class="menu">
        <li class="menu-item item-1 first"><span class="nolink">About</span>
          <ul class="menu">
            <li><a href="/basic-page.html">Basic Facts</a></li>
            <li><a href="/about-page.html">Why CSUMB?</a></li>
            <li><a href="#">The Campus</a></li>
            <li><a href="#">News &amp; Publications</a></li>
            <li><a href="#">Calendar</a></li>
            <li><a href="#">Donate</a></li>
          </ul>
        </li>
        <li class="menu-item item-2"><a>Admissions</a>
        </li>
        <li class="menu-item item-3"><span class="nolink">Costs &amp; Aid</span>
          <ul class="menu">
            <li><a href="#">Costs and calculator</a></li>
            <li><a href="#">Financial Aid</a></li>
            <li><a href="#">Making Payments</a></li>
          </ul>
        </li>
        <li class="menu-item item-4"><span class="nolink">Academics</span>
          <ul class="menu">
            <li><a href="#">Degree Programs</a></li>
            <li><a href="#">Colleges, Schools, <br> and Departments</a></li>
            <li><a href="#">Classes and <br> Planning</a></li>
            <li><a href="#">Faculty</a></li>
            <li><a href="#">Academic Support <br> Services</a></li>
            <li><a href="#">Tools and <br> Resources</a></li>
          </ul>
        </li>
        <li class="menu-item item-5"><a>Campus Life</a>
        </li>
        <li class="menu-item item-6"><span class="nolink">Employee Resources</span>
          <ul class="menu">
            <li><a href="#">Tools and Databases</a></li>
            <li><a href="#">Human Resources, Benefits and Payroll</a></li>
            <li><a href="#">Information Technology</a></li>
            <li><a href="#">Travel</a></li>
            <li><a href="#">Housing, Dining, Parking, and Ottercard</a></li>
            <li><a href="#">Directory</a></li>
            <li><a href="#">Faculty Resources</a></li>
          </ul>
        </li>
        <li class="menu-item item-7 last"><a>Alumni</a>
        </li>
      </ul>
    </div><!--/.navigation-->
  </div><!--/.navigation-wrap-->
</header>