<div class="header-image half"></div>
<header id="header" class="interior">
  <div class="mobile-bar">
    <div class="navigation menu-block menu-block-2 main-two-levels">
      <ul class="menu">
        <li class="menu-item item-1"><span class="nolink">About</span>
          <ul class="menu">
            <li><a href="/basic-page.html">Basic Facts</a></li>
            <li><a href="#">Why CSUMB?</a></li>
            <li><a href="#">The Campus</a></li>
            <li><a href="#">News &amp; Publications</a></li>
            <li><a href="#">Calendar</a></li>
            <li><a href="#">Donate</a></li>
          </ul>
        </li>
        <li class="menu-item item-2"><a href="/basic-page.html">Admissions</a>
        </li>
        <li class="menu-item item-3"><span class="nolink">Costs &amp; Aid</span>
          <ul class="menu">
            <li><a href="#">Costs and calculator</a></li>
            <li><a href="#">Financial Aid</a></li>
            <li><a href="#">Making Payments</a></li>
          </ul>
        </li>
        <li class="menu-item item-4"><span class="nolink">Academics</span>
          <ul class="menu">
            <li><a href="#">Degree Programs</a></li>
            <li><a href="#">Colleges, Schools, <br> and Departments</a></li>
            <li><a href="#">Classes and <br> Planning</a></li>
            <li><a href="#">Faculty</a></li>
            <li><a href="#">Academic Support <br> Services</a></li>
            <li><a href="#">Tools and <br> Resources</a></li>
          </ul>
        </li>
        <li class="menu-item item-5"><a>Campus Life</a>
        </li>
        <li class="menu-item item-6"><span class="nolink">Employee Resources</span>
          <ul class="menu">
            <li><a href="#">Tools and Databases</a></li>
            <li><a href="#">Human Resources, Benefits and Payroll</a></li>
            <li><a href="#">Information Technology</a></li>
            <li><a href="#">Travel</a></li>
            <li><a href="#">Housing, Dining, Parking, and Ottercard</a></li>
            <li><a href="#">Directory</a></li>
            <li><a href="#">Faculty Resources</a></li>
          </ul>
        </li>
        <li class="menu-item item-7"><a>Alumni</a>
        </li>
      </ul>
    </div>  
  </div>
  <div class="limiter">
    <div class="actions three">
      <ul class="toggles desktop">
        <li><a href="#" class="pull-nav-main toggle"><img src="../images/icons/icon-menu-white.svg" /><span>Main Menu</span> </a></li>
      </ul>     
      <div class="user-login three">
        <button class="btn-primary">Login</button>
      </div>
      <div class="block-search three">
        <div class="form-item-search-block-form">
          <label class="element-invisible">Search </label>
          <input placeholder="Search CSUMB" type="text" name="search_block_form" class="form-text">
        </div>
      </div>
    </div>
    <ul class="toggles mobile">
      <li><a href="#" class="pull-nav-main toggle"><img src="../images/icons/icon-menu.png" /><span>Main Menu</span> </a></li>
      <li><a id="pull-user" href="user/login" class="toggle"><img src="../images/icons/icon-user.png" /><span>User</span></a></li>
      <li><a id="pull-search" href="#" class="toggle"><img src="../images/icons/icon-search.png" /><span>Search</span></a></li>
    </ul>
    <ul class="toggles main">
      <li><a href="#" class="pull-nav toggle"><img src="../images/icons/icon-menu-white.svg" /><span>Section Menu</span> </a></li>
    </ul>
    <div class="logo three">
      <a href="/index.html" title="CSUMB Home Page"><img src="../images/logos/csumb-logo-white.png" alt="CSUMB Logo" title="Cal State Monteray Bay"/></a>
    </div>
    <div class="title-wrap">
      <div class="breadcrumb">
        <a href="#">Academics</a> &#10095;
        <a href="#">Colleges and Departments</a> &#10095;
      </div>   
      <div class="page-title">
        <h1>School of Information Technology and Communication and This Text is to show how long title is very long.</h1>
      </div>  
    </div>     
  </div>
  <div class="navigation-wrap">
    <ul class="toggles close">
      <li>
        <a id="pull-nav" href="#" class="pull-nav toggle">
          <img src="../images/icons/icon-cancel.svg" /><span>Close Menu</span>
        </a>
      </li>
    </ul>
    <div class="navigation menu-block menu-block-3 user-menu user-menu-two-levels">
      <ul class="menu">
        <li class="menu-item item-1"><span class="nolink">About ITCD</span>
          <ul class="menu">
            <li><a href="#">Basic Facts</a></li>
            <li><a href="#">Why CSUMB?</a></li>
            <li><a href="#">The Campus</a></li>
            <li><a href="#">News &amp; Publications</a></li>
            <li><a href="#">Calendar</a></li>
            <li><a href="#">Donate</a></li>
          </ul>
        </li>
        <li class="menu-item item-2"><a>Degrees</a></li>
        <li class="menu-item item-3"><a>Costs &amp; Aid</a></li>
        <li class="menu-item item-4"><a>Research and Projects</a>
        </li>
        <li class="menu-item item-5"><a>Student Resources</a></li>
        <li class="menu-item item-6"><a>Faculty &amp; Staff</a></li>
      </ul>
    </div> 
  </div> 
</header>