<header id="header" class="interior with-mobile">
  <div class="mobile-bar">
    <div class="navigation menu-block menu-block-2 main-two-levels">
      <ul class="menu">
        <li class="menu-item item-1 first"><span class="nolink">About</span>
          <ul class="menu">
            <li><a href="/basic-page.html">Basic Facts</a></li>
            <li><a href="/about-page.html">Why CSUMB?</a></li>
            <li><a href="#">The Campus</a></li>
            <li><a href="#">News &amp; Publications</a></li>
            <li><a href="#">Calendar</a></li>
            <li><a href="#">Donate</a></li>
          </ul>
        </li>
        <li class="menu-item item-2"><a href="/basic-page.html">Admissions</a>
        </li>
        <li class="menu-item item-3"><span class="nolink">Costs &amp; Aid</span>
          <ul class="menu">
            <li><a href="#">Costs and calculator</a></li>
            <li><a href="#">Financial Aid</a></li>
            <li><a href="#">Making Payments</a></li>
          </ul>
        </li>
        <li class="menu-item item-4"><span class="nolink">Academics</span>
          <ul class="menu">
            <li><a href="#">Degree Programs</a></li>
            <li><a href="#">Colleges, Schools, <br> and Departments</a></li>
            <li><a href="#">Classes and <br> Planning</a></li>
            <li><a href="#">Faculty</a></li>
            <li><a href="#">Academic Support <br> Services</a></li>
            <li><a href="#">Tools and <br> Resources</a></li>
          </ul>
        </li>
        <li class="menu-item item-5"><a>Campus Life</a>
        </li>
        <li class="menu-item item-6"><span class="nolink">Employee Resources</span>
          <ul class="menu">
            <li><a href="#">Tools and Databases</a></li>
            <li><a href="#">Human Resources, Benefits and Payroll</a></li>
            <li><a href="#">Information Technology</a></li>
            <li><a href="#">Travel</a></li>
            <li><a href="#">Housing, Dining, Parking, and Ottercard</a></li>
            <li><a href="#">Directory</a></li>
            <li><a href="#">Faculty Resources</a></li>
          </ul>
        </li>
        <li class="menu-item item-7 last"><a>Alumni</a>
        </li>
      </ul>
    </div>  
  </div>
  <div class="desktop-bar">
    <div class="navigation menu-block menu-block-4 main-two-levels">
      <ul class="tabbed menu" id="tabs">
        <li class="tab-1 first"><span class="nolink2">About</span></li>
        <li class="tab-2"><a href="/basic-page.html">Admissions</a></li>
        <li class="tab-3"><span class="nolink2">Costs &amp; Aid</span></li>
        <li class="tab-4"><span class="nolink2">Academics</span></li>
        <li class="tab-5"><a>Campus Life</a></li>
        <li class="tab-6"><span class="nolink2">Employee Resources</span></li>
        <li class="tab-7 last"><a>Alumni</a></li>
      </ul>
      <div class="panels">
      <div class="limiter">
          <div class="panel panel-1 .tabContent">
            <ul>
              <li><a href="/basic-page.html">Basic Facts</a></li>
              <li><a href="/about-page.html">Why CSUMB?</a></li>
              <li><a href="#">The Campus</a></li>
              <li><a href="#">News &amp; Publications</a></li>
              <li><a href="#">Calendar</a></li>
              <li><a href="#">Donate</a></li>
            </ul>
          </div>      
          <div class="panel panel-3 .tabContent">
            <ul>
              <li><a href="#">Costs and calculator</a></li>
              <li><a href="#">Financial Aid</a></li>
              <li><a href="#">Making Payments</a></li>
            </ul>
          </div>      
          <div class="panel panel-4 .tabContent">
            <ul>
              <li><a href="#">Degree Programs</a></li>
              <li><a href="#">Colleges, Schools, <br> and Departments</a></li>
              <li><a href="#">Classes and <br> Planning</a></li>
              <li><a href="#">Faculty</a></li>
              <li><a href="#">Academic Support <br> Services</a></li>
              <li><a href="#">Tools and <br> Resources</a></li>
            </ul>
          </div>      
          <div class="panel panel-6 .tabContent">
            <ul>
              <li><a href="#">Tools and Databases</a></li>
              <li><a href="#">Human Resources, Benefits and Payroll</a></li>
              <li><a href="#">Information Technology</a></li>
              <li><a href="#">Travel</a></li>
              <li><a href="#">Housing, Dining, Parking, and Ottercard</a></li>
              <li><a href="#">Directory</a></li>
              <li><a href="#">Faculty Resources</a></li>
            </ul>
          </div>   
        </div><!--/.limiter-->
      </div><!--/.panels-->  
    </div> <!--/nav-->
  </div><!--/desktop-bar-->
  <div class="logo-actions-wrap blue-bg">
    <div class="limiter">
      <div class="actions">
        <ul class="toggles desktop">
          <li><a href="#" class="pull-nav-desktop toggle"><span>Main Menu</span></a></li>
        </ul>     
        <div class="user-login">
          <a href="#"><span>Login</span></a>
        </div>
        <div class="block-search">
          <div class="form-item-search-block-form">
            <label class="element-invisible">Search </label>
            <input placeholder="Search CSUMB" type="text" name="search_block_form" class="form-text">
          </div>
        </div><!--/.block-search-->
      </div><!--/.actions-->
      <div class="logo desktop">
        <a href="/index.html" title="CSUMB Home Page"><img src="../images/logos/csumb-logo-blue.svg" alt="CSUMB Logo" title="Cal State Monteray Bay"/></a>
      </div><!--/.logo-desktop-->
    </div><!--/.limiter-->
  </div><!--/.logo-actions-wrap-->
  <div class="mobile-wrap">
    <div class="logo-mobile">
      <a href="/index.html" title="CSUMB Home Page"><img src="../images/logos/csumb-logo-blue.svg" alt="CSUMB Logo" title="Cal State Monteray Bay"/></a>
    </div> 
     <div class="logo-mobile-small">
      <a href="/index.html" title="CSUMB Home Page"><img src="../images/logos/csumb-logo-blue-no-otter.svg" alt="CSUMB Logo" title="Cal State Monteray Bay"/></a>
    </div>          
    <ul class="toggles mobile">
      <li class="first"><a href="#" class="pull-nav-main toggle"><span>Main Menu</span></a></li>
      <li><a href="user/login" class="pull-user toggle"><span>Login</span></a></li>
      <li><a href="#" class="pull-search toggle"><span>Search</span></a></li>
    </ul>
  </div><!--/.mobile-wrap-->  
  <div class="title-wrap">
    <div class="limiter">
      <div class="breadcrumb-image">
        <a href="#">Academics</a> &#10095;
        <a href="#">Colleges and Departments</a> &#10095;
      </div><!--/.breadcrumb--> 
      <div class="page-title">
        <h1>School of Information Technology and Communication</h1>
      </div><!--/.page-title-->
      <ul class="toggles main">
        <li><a href="#" class="pull-nav toggle"><span>Department Menu</span> </a></li>
      </ul> 
    </div><!--/.title-wrap-->          
  </div><!--/.limiter-->
  <div class="navigation-wrap department">
    <div class="navigation menu-block menu-block-3 user-menu user-menu-two-levels">
      <ul class="menu">
        <li class="menu-item item-1 first"><span class="nolink">About ITCD</span>
          <ul class="menu">
            <li><a href="/basic-page.html">Partnerships</a></li>
          </ul>
        </li>
        <li class="menu-item item-2"><span class="nolink">Degrees</span>
          <ul class="menu">
            <li><a href="/basic-page.html">Communication </br> Design B.S.</a></li>
            <li><a href="/basic-page.html">Computer Science B.S.</a></li>
            <li><a href="/basic-page.html">Management and IT M.S.</a></li>
            <li><a href="/basic-page.html">Instructional Science </br> Technologies M.S.</a></li>
            <li><a href="/basic-page.html">Minors</a></li>
          </ul>
        </li>  
        <li class="menu-item item-3 last"><a>Faculty &amp; Staff</a></li>
        <li class="menu-item item-4"><a>Research/Creation</a></li>      
        <li class="menu-item item-5"><span class="nolink">Student Resources</span>
          <ul class="menu">
            <li><a href="/basic-page.html">Software</a></li>
            <li><a href="/basic-page.html">Technology Rentals</a></li>
            <li><a href="/basic-page.html">Server and Storage</a></li>
            <li><a href="/basic-page.html">Labs </a></li>
            <li><a href="/basic-page.html">Printing</a></li>
          </ul>
        </li>        
      </ul>
    </div><!--/.navigation-->
  </div><!--/.navigation-wrap-->
</header>
<div class="header-image department-page">
  <img src="../images/photos/itcd.jpg" alt="CSUMB Image" class="desktop" title="Cal State Monteray Bay Students"/> 
  <img src="../images/photos/itcd-mobile.jpg" alt="CSUMB Image" class="mobile" title="Cal State Monteray Bay Students"/>   
</div>
