/**
 * @file _button.scss
 *   All styles that have to do with buttons on the site.
 */

.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"],
%button {
  font-family: $trade-reg;
  text-transform: uppercase;
  font-size: 1em;
  font-weight: 400;
  padding: .75em 1.75em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-right: 0.5em;
  letter-spacing: .12em;
  color: color($yellow, 'dark', -30%);
  @include box-shadow(0 1px 2px rgba(color($grey, 'dark', 10%), 0.8));

  &[disabled] {
    font-weight: 400;
    color: color($yellow, 'dark', -15%);
    @include text-shadow(none);
  }

  background-color: color($yellow, 'main');
  @include background-image(linear-gradient(
    color($yellow, 'main', 12%) 75%,
    color($yellow, 'main')
  ));

  @include border-radius(4px);
  border: {
    width: 0px 0px 1px 0px;
    style: solid;
    color: color($yellow, 'dark', -5%);
  }

  &:hover, &:focus {
    background-color: color($yellow, 'main');
    @include background-image(linear-gradient(
      color($yellow, 'main') 75%,
      color($yellow, 'main', -2%)
    ));
    border-color: color($yellow, 'dark', -10%);
  }

  &[disabled], &[disabled]:hover {
    background-color: color($yellow, 'main', 20%);
    @include background-image(none);
    border-color: color($yellow, 'main', 5%);
    @include box-shadow(0 1px 2px rgba(color($grey, 'dark', 15%), 0.4) inset);
  }

  &:focus {
    @include box-shadow(0 0 4px rgba(color($grey), 0.5));
  }
}

a.button {
  color: $white !important; // To override the :link, :visited, and :hover pseudo-elements
  text-decoration: none; // Yeah, no underlines on these links, but they look like buttons...
}

%btn-primary,
.btn-primary,
input.action-submit { // The input. is necessary here to override the above rules.
  background-color: color($green);
  @include background-image(linear-gradient(
    color($green, 'bright') 75%,
    color($green, 'bright', -5%)
  ));
  border-color: color($green, 'main', -10%);
  color: $white;

  &:hover, &:focus {
    border-color: color($green, 'main', -15%);
    background-color: color($green, 'main', -12%);
    @include background-image(linear-gradient(
      color($green, 'bright', -8%) 75%,
      color($green, 'bright', -12%)
    ));
  }

  &[disabled], &[disabled]:hover {
    background-color: mix(color($green), color($grey, 'bright'));
    @include background-image(none);
    border-color: darken(mix(color($green), color($grey, 'bright')), 5%);
    color: $white;
  }

  &:focus {
    @include box-shadow(0 0 4px rgba(color($green), 0.5));
  }
}

%btn-negative,
.btn-negative,
input.action-delete {
  background-color: color($grey);
  @include background-image(linear-gradient(
    color($grey, 'bright') 75%,
    color($grey, 'bright', -10%)
  ));
  border-color: color($grey, 'bright', -30%);
  color: color($grey, 'dark');
  @include text-shadow(1px 1px 0 color($grey, 'bright'));

  &:hover, &:focus {
    border-color: color($grey, 'bright', -15%);
    background-color: color($grey, 'bright', 5%);
    @include background-image(linear-gradient(
      color($grey, 'highlight', -2%) 75%,
      color($grey, 'highlight', -10%)
    ));
  }

  &[disabled], &[disabled]:hover {
    background-color: mix( color($grey, 'highlight'), color($grey, 'bright'));
    @include background-image(none);
    border-color: darken(mix(color($grey, 'highlight'), color($grey, 'bright')), 10%);
    color: color($grey, 'dark', 15%);
  }

  &:focus {
    @include box-shadow(0 0 4px rgba(color($grey), 0.5));
  }
}

%btn-large,
.btn-large {
  font-size: 1.2em;
  padding: 0.8em 1.2em;
}

%btn-small,
.btn-small {
  font-size: 0.938em;
  font-weight: 400;
  padding: 0.25em 0.75em;
}

%btn-multiline,
.btn-multiline {
  font-size: 1.2em;
  font-weight: 400;
  text-transform: none;
  letter-spacing: 0px;
  line-height: 1.5em;
  padding: 0.75em 1em 1em 1em;
  margin: 0;
  span {
    font-size: 1.2em;
    padding: 0;
    text-transform: uppercase;
    letter-spacing: .12em;
    line-height: 1.5em;
  }
}

%btn-full,
.btn-full {
  font-size: 1.4em;
  padding: 0.5em 2em;
}
