/**
 * @file _course.scss
 */

$course: 600px; //Match mobile menu breakpoint

.course {
  clear: both;
  margin-bottom: 1em;
  border: 1px solid #BEB995;
  background-color: color($tan, bright);
  display: block;
  padding: 2em; 
  h4 {
    color: color($tan, dark);
    margin-top: 0;
    margin-bottom: 0;
    a {
      background-size: 118%;
      margin: 0 10px 0 0;
      color: color($tan, main);
    }
  }
  p {
    margin-bottom: 0;
    margin-top: 1em;
  }
  .hours {
    font-weight: 700;
  }
  .description {
    margin-bottom: 1em;
  }
  .open, .closed {
    float: right;
    margin-top: -12px;
    a {
      border: none;
      &:hover {
        border: none;
      }
    }
  }
}
