/**
 * @file _footer.scss
 * The design for the footer partials.
 */

#footer {
  color: wp-color($grey, bright);
  background-color: wp-color($tan, 'bright', -10%);
  @include add-grid(12);
  @include grid-span(12,1);
  padding: 1em;
  position: relative;
  @extend %clearfix;
  font-family: $trade-bold;
  ul {
    li {
      list-style: none;
    } 
  }
    .popular {
      @include grid-span(2,1);
    }
    .tools {
      @include grid-span(2,3);
    }
    .links {
      @include grid-span(3,5);
    }
    li {
      margin: 0 0 .275em;
      a {
        color: wp-color($blue, 'dark');
        text-decoration: none;
      }
      a:hover {
        color: wp-color($blue, 'dark', 10%);
      }
    } 
  .donate {
    font-family: $trade-reg;
    @include grid-span(3,8);
    padding: 0;
    @include respond-to("footer smallest") {
      //width: 100%;
    }
    button {
      @include grid-span(12,1);
    }
    .other {
      //@include grid-span(12,1);
      padding: 0;
      margin: 0;   
      a {
        color: wp-color($blue, 'dark');
        text-decoration: none;
      }
      a:hover {
        color: wp-color($blue, 'dark', 10%);
      }
    }
  }
  .address {
    @include grid-span(2,11);
    @include respond-to("footer smallest") {
      width: 100%;
    }
  }
}
