/**
 * @file _header.scss
 * The design for the header.
 */

 .prototype-grid {
  .header-image {
    width: 100%;
    background-image: url(../images/photos/header-students-big.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top:0;
    right: auto;
    left: auto;
    z-index: -1;
    @include respond-to("navigation full") {
      height: 590px;
      background-position: 0% 10%;
    }
    @include respond-to("navigation medium") {
      height: 500px;
    }
    @include respond-to("navigation small") {
      height: 400px;
      background-position:center 80px;
      background-color: $black;
    }
  }
  .header-image {
    &.department-page { // section-specific bg images 
      background-image: url(../images/photos/header-students-two-big.jpg);
      background-position: 0 0;
      @include respond-to("navigation small") {
        height: 100%;
      }
    } 
  } 
}
/**
* Header
*/
#header {
  color: $white;
  padding: 0;
  @include grid-span(12,1);
  @include respond-to("navigation small") {
    background-color: rgba($black, 0.75);
  }
  .logo {
    @include grid-span(7,1);    
    padding-top: 1.5em;
    padding-left: 1em;
    @include respond-to("navigation small") {
      margin: 0 auto;
      text-align: center;
      padding-top: 4.5em;
      padding-left: 0;
      padding-bottom: 3.5em;
    }
  }
  .actions {
    @include grid-span(5,8);
    @include respond-to("navigation small") {
      width: 100%;
      display: none;
      margin-top: 0;
      background-color: $white;
      padding: 0;      
    }
    padding-top: 2em;
    padding-right: 1em;
    font-family: $trade-reg;
    float: right;
    p {
      margin: 0;
    }
  }
  .user-login {
    @include grid-span(4,1);
    padding-right: 1em;
    margin: 0;
    border-right:1px solid $white;
    .button {
      float: right;
    }
    @include respond-to("navigation small") {
      display: none;
    }  
  }
  .block-search {
    @include grid-span(8,5);
    @include respond-to("navigation small") {
      width: 100%;
      background-color: color($blue, 'main', 5%);
      border-top: 1px solid color($blue, 'main', -10%);          
    }         
    padding-left: 1em;
    padding-top: .5em;
    .form-submit {
      display: none; // find a better Drupal way to do this.
    }
    input {
      @include border-radius(6px);
      width: 100%;
      margin-top: 0.3em;
    }
    @include respond-to("navigation small") {
      padding:1.5em 1em;
    }
  }
  &.with-mobile {
    .logo {
      @include grid-span(5,1);
      @include respond-to("navigation small") {
        float: left;
        width: 60%;
      }   
    }
    .actions {
      @include grid-span(7,6);
      @include respond-to("navigation small") {
        width: 100%;
      }      
    }
    .user-login {
      @include grid-span(3,5, $output-style:'float');      
    }
    .block-search {
      @include grid-span(5,8, $output-style:'float');
      @include respond-to("navigation small") {
        width: 100%;
      }      
    }
  }
  .title-wrap {
    @include grid-span(12,1, $output-style:'float');
    margin-top:2em;
    clear: both;
    @include respond-to("navigation small") {
      background-color: $white;
      padding: 1em 0;
      margin-top: 0;
    }
    .breadcrumb {
      @include respond-to("navigation medium") {
        padding:0 1em; 
      }  
    }
    .page-title {
      @include respond-to("navigation medium") {
        padding:0 1em; 
      }
    }    
  } 
}