/**
 * @file _header-logged-in.scss
 * The design for the header when you're logged in.
 */

/**
* Header - logged in styles styles
*/
#header {
  &.logged-in {
    .block-search { // If logged in, decrease the search width.
      @include grid-span(4,9, $output-style:'float');  
      @include respond-to("navigation small") {
        width: 100%;
      }          
    }
    .user-login {
      border-right:none;
      padding: 0;        
      @include grid-span(4,5, $output-style:'float', $gutter:0);  
      @include respond-to("navigation small") {
        width: 100%;
      }    
      .login-link {
        display: none;
      }
      @include respond-to("navigation small") { // hide this user-login instance and show the one flagged with .mobile below.
        display: none;
      }
      &.mobile { // hide this user-login instance and show it at the navigation small breakpoint.
        display: none;
        @include respond-to("navigation small") {
          display: block;
          width: 100%;
          padding: .5em 2em 1em;
          border-top: 1px solid darken($white, 20%);
          margin-top: .5em;
        }
      }                 
      .student-info {
        display: block;
        padding: 0;
        margin: 0;
        position: relative;
        float: left;
        width: 100%;
        li {
          list-style-type: none;
          position: relative;
          float: left;
          width: 100%;
          margin-bottom: 2px;
          span { 
            &.name {
              cursor: pointer;
              padding: 1.2em 0;
              display: block;
              position: relative; 
              color: color($blue, 'main');
              @include respond-to("navigation small") {
                padding: 0;
              }
              &:before {
                display: inline-block;
                speak: none;
                font-family: $trade-bold;     
                font-style: normal;
                font-weight: normal;
                font-variant: normal;
                text-transform: none;
                background-color: $white;
                line-height: 1;
                -webkit-font-smoothing: antialiased;
                content: "2";
                padding: .3em .5em;
                margin-right: .5em;
                vertical-align: middle;
                background-color: color($green, 'main');
                color: $white; 
                @include border-radius(25px);
              }
              &:after {
                display: inline-block;
                speak: none;
                font-style: normal;
                font-weight: normal;
                font-variant: normal;
                text-transform: none;
                line-height: 1;
                -webkit-font-smoothing: antialiased;
                content: image-url('icons/icon-dropdown.svg');
                width: 15px;
                height: 24px;
                margin-left: 0.3em;
                vertical-align: middle;                
              }
              &.active {
                &:after {
                  display: inline-block;
                  speak: none;
                  font-style: normal;
                  font-weight: normal;
                  font-variant: normal;
                  text-transform: none;
                  line-height: 1;
                  -webkit-font-smoothing: antialiased;
                  content: image-url('icons/icon-dropup.svg');
                  width: 15px;
                  height: 24px;
                  margin-left: 0.3em;
                  vertical-align: middle;                
                }                  
              }                
            }
          }           
          a {
            &.no-toggle {
              color: color($blue, 'main');
              padding: .5em 1em;
              float: left;
              width: 100%;
              background-color: rgba($white,.80);
              &:hover {
                color: color($blue, 'dark');
                text-decoration: none;
                background-color: rgba($white,.95);
              }
            }
          }
          ul.user-actions {
            margin: 0;
            padding: 0;
            width: 100%;
            position: absolute;
            top: 65px;
            left: 0;
            display: none;
            z-index: 1;
            @include respond-to("navigation small") {
              top: 49px;
            }
            li {
              width: 100%;
              float: left;
              font-size: .8em;
              a {
                display: block;
                color: color($blue, 'main');
                &:hover,
                &.active {
                  color: color($blue, 'dark');
                }
                span {
                  text-transform: none;
                }       
              }
              &.favorite {
                a {
                  span {
                    &:before {
                      content: image-url('icons/icon-star-outline-blue-small.svg');        
                      vertical-align: middle;
                      padding-right: .5em;
                      display: inline-block;
                      transition: content 0.4s ease-in-out;
                    }
                  }
                  &:focus,
                  &.active {
                    span {
                      &:before {
                        content: image-url('icons/icon-star-blue-small.svg');       
                      } 
                    }
                  }
                }                
              }
              &.logout {
                a {
                  span {
                    &:before {
                      content: image-url('icons/icon-sign-out-blue-small.svg');        
                      vertical-align: middle;
                      padding-right: .5em;
                      display: inline-block;
                      transition: content 0.4s ease-in-out;
                    }
                  }
                }
              }                
            }
          }
        }
      }
    }
    &.mobile-menu { // If the user is logged in and the header has a mobile class too.
      .logo {
        @include grid-span(4,1);    
      }   
      .actions {
        @include grid-span(8,5);
        @include respond-to("navigation small") {
          width: 100%;
        }         
      }
      .toggles {     
        &.desktop { // desktop toggle for the main menu - e.g. department pages
          @include grid-span(3,1, $output-style:'float');
          display: block;
          padding: 0;
          @include respond-to("navigation small") {
            display: none;
          }
        }
      }        
      .user-login {
        @include grid-span(4,5, $output-style:'float');  
        @include respond-to("navigation small") {
          width: 100%;
        }        
      }   
      .block-search {
        @include grid-span(5,8, $output-style:'float');     
        @include respond-to("navigation small") {
          width: 100%;
        }        
      }
    }              
  }
}
