/**
 * @file _images.scss
 */
$images-one-up: 600px;
$images-two-up: 600px;
$images-three-up: 600px;
$images-four-up: 600px;

.images-one-up, .caption-one-up {
  padding-bottom: .5em;
}

.images-two-up, .caption-two-up {
  @include grid-span(12);
  padding-bottom: .5em;
  @include breakpoint ($images-two-up) {
    @include grid-span(6,$gutter: 0);
    margin: 0;
    padding-right: 10px;
  }
}

.images-three-up, .caption-three-up {
  @include grid-span(12);
  padding-bottom: .5em;
  @include breakpoint ($images-three-up) {
    @include grid-span(4,$gutter: 0);
    margin: 0;
    padding-right: 10px;
  }
}

.images-four-up, .caption-four-up {
  @include grid-span(12);
  padding-bottom: .5em;
  @include breakpoint ($images-four-up) {
    @include grid-span(3,$gutter: 0);
    margin: 0;
    padding-right: 10px;
  }
}

.caption-one-up, .caption-two-up, .caption-three-up, .caption-four-up {
  font-size: .8em;
  margin-bottom: 1.5em;
}

.last {
  padding-right: 0;
}
