/**
 * @file _map.scss
 */

$map: 600px; //Match mobile menu breakpoint

.map {
  clear: both;
  margin-top: 2em;
  h4 {
    color: color($tan);
    margin: 0;
  }
  h3 {
    color: color($tan, dark);
    text-transform: uppercase;
    margin: .5em 0;
  }
}
