/**
 * @file _menu-left-sidebar.scss
 *   All styles that have to do with buttons on the site.
 */

$one-column: 870px; //Match mobile menu breakpoint
#main {
  .menu-left-sidebar {
    margin-top: 2em;
    @include grid-span(12,1);
    @include breakpoint ($one-column) {
      @include grid-span(3,1);
    }
    @include respond-to("navigation small") {
      display: none;
      margin-top: 0;
    }
    ul.menu {
      padding: 0;
      @include respond-to("navigation small") {
        margin: 0;
      }
      li {
        list-style: none;
        a {
          background-color: color($blue);
          border: none;
          color: $white;
          display: block;
          margin: 0 0 1px;
          padding: 15px 20px;
          font-family: $trade-reg;
          text-decoration: none;
          @include respond-to("navigation small") {
            padding: 1em 1.5em;
          }
          &:hover, &:focus {
            background-color: color($blue, dark);
            color: $white;
          }
        
          &:active {
            background-color: color($blue, dark);
            color: $white;
          }
        }
      }
    }
  }
}


// Sidebar Menu Toggle.
#main {
  .toggles { 
    &.sidebar-menu { // sidebar subsection menu toggles
      @include grid-span(12, 1);
      display: none;
      border-bottom: 1px solid rgba($white, 0.3);
      @include respond-to("navigation small") {
        display: block;
      }    
      li {
        width: 100%;
        a {
          color: $white;
          background-color: color($blue, 'main');
          padding: 1em 1.5em;
          text-align: left;
          &:hover {
            background-color: color($blue, 'dark');
            color: $white;
          }          
          &.active {
            background-color: color($blue, 'dark');
            color: $white;
          } 
          &.pull-sidebar {
            color: $white;
            span {
              &:before {
                content: image-url('../images/icons/icon-menu-white-small.svg');        
                vertical-align: middle;
                padding-right: 1em;
                display: inline-block;
                transition: content 0.4s ease-in-out;
              }
            }
            &.active {
              span {
                &:before {
                  content: image-url('../images/icons/icon-cancel-white-small.svg');        
                  vertical-align: middle;
                  padding-right:1em;
                  display: inline-block;
                  transition: content 0.4s ease-in-out;
                }
              }              
            }
          } 
        }
      }
    } 
  }
}