/**
 * @file _menus.scss
 * The foundation design for all system menus - ul.menu.
 * 
 **** Related asset: styleguide-assets/hmenu.js
 */

/**
* Menus - main menu, footer menu, etc.
 - This uses hmenu.js to trigger adding ".active" classes and uses .wrap() for submenu markup.
*/

// Menus in the Header section
#header { 
  .mobile-bar,
  .desktop-bar {
    display: none;
  }
  .mobile-bar {
    background-color: color($blue, 'main');
    @include grid-span(12,1);
  }
  ul.menu { // Global .menu styles
    width: 100%;
    max-width: 68em;
    padding: 0;
    margin: 0 auto;
    @extend %clearfix;
    @include respond-to("navigation medium") {
      padding: 0 4em;
    }
    @include respond-to("navigation medium padding") {
      padding: 0 2em;
    }
    @include respond-to("navigation small padding") {
      padding: 0;
    }
    li {
      float: left;
      display: inline-block;
      list-style: none;
      font-family: $trade-bold;
      text-transform: uppercase;
      margin: 0;
      padding: 0;
      @include respond-to("navigation small") {
        width: 100%;
        display: block;
        float: left;
        margin: 0;
        padding: 0;
        border-top: 1px solid rgba($white, 0.10);
        border-bottom: 1px solid rgba($black, 0.15);
        &.first {
          border-top: 0;
        }
        &.last {
          border-bottom: 0;
        }
      }
      &.active {
        border: none;
        background-image: image-url('icons/icon-active-up.svg');
        background-position: center bottom;
        background-repeat: no-repeat; 
        @include respond-to("navigation small") {
          background-image: none;
        }
        .submenu {
          display: block;
        }
        span {
          color: color($blue, 'bright');

          &:hover {
            color: color($blue, 'main');
          }
          &:after {
            display: inline-block;
            speak: none;
            font-style: normal;
            font-weight: normal;
            font-variant: normal;
            text-transform: none;
            line-height: 1;
            -webkit-font-smoothing: antialiased;
            content: image-url('icons/icon-dropup.svg'); 
            width: 15px; 
            height: 24px;        
            vertical-align: middle;
            color: color($blue, dark);
          }
        }
      }
      span,
      a {
        color: color($blue, 'main');
        text-decoration: none;
        letter-spacing: .05em;
        font-size: 1em;
        padding: 1em 1.2em;
        display: block;
        cursor: pointer;
        transition: color 0.15s ease-in-out;
        @include respond-to("navigation medium") {
          padding: 1em .8em;
          margin-right: 0;
          font-size: .9em;
        }
        @include respond-to("navigation small") {
          font-size: 1.2em;
          padding: 1.5em 3em 1em;
        }
        &:hover {
          color: color($blue, 'bright');
        }
      }
      span {
        &:after {
          display: inline-block;
          speak: none;
          font-style: normal;
          font-weight: normal;
          font-variant: normal;
          text-transform: none;
          line-height: 1;
          -webkit-font-smoothing: antialiased;
          content: image-url('icons/icon-dropdown.svg'); 
          width: 15px; 
          height: 24px;        
          margin-left: 0.3em;
          vertical-align: middle;
          color: color($blue, dark);
        }
      }
      // 2nd level
      .submenu { // more info: hmenu.js
        display: none;
        background-color: color($blue, dark);
        width: 100%;
        position: absolute;
        left: 0;
        @include respond-to("navigation small") {
          position: relative;
          padding: 0;
          margin: 0;
          background-color: rgba(#001e54, 0.85);
        }
        ul.menu {
          margin: 0 auto;
          padding:0;
          list-style-type: none; 
          position: relative;
          width: 100%;
          max-width: 68em;
          @extend %clearfix;
          @include respond-to("navigation small") {
            padding: .8em 0;
          }
          li { 
            @include respond-to("navigation small") {
              width: 100%;
              display: block;
              float: left;
              margin: 0;
              padding: 0;
              border-bottom: none;
              border-top: none;
            }
            a {
              color: color($blue, 'highlight');
              text-transform: none;
              font-family: $trade-reg;
              font-size: 1em;
              line-height: 1.4em;
              letter-spacing: 0;
              @include respond-to("navigation small") {
                @include border-radius(0);
                padding: 1em 3.5em;
              }
              &:hover {
                color: $white;
                background-color: transparent;
              }
              &.active {
                color: color($blue, 'main', 20%);
                &:hover {
                  color: color($blue, 'main', 20%);
                }
              }
            }
          }
        }     
      }         
    }
  } 
  // Department Menu 
  .navigation-wrap {
    &.department,// Department Landing section
    &.student { // Student Dashboard section
      @include grid-span(12, 1);
      @include respond-to("navigation small") {
        display: none;
      }
    }
  }   
}
