/**
 * @file _news-chunk.scss
 */

$news-chunk-column: 600px; //Match mobile menu breakpoint

.news-chunk {
    @include grid-span(12);
    padding-bottom: 1.5em;
    @include breakpoint ($news-chunk-column) {
      @include grid-span(6);
      margin: 0;
      padding-right: 10px;
    }
  @extend %clearfix;
  padding-top: 2em;
  a {
  border: 0 !important;
    h3.news-title {
      margin-top: 0;
      margin-bottom: .2em;
      color: color($tan, dark);
      text-transform: none;
    }
    h4.news-category {
      margin-top: 0;
      text-transform: none;
      margin-bottom: 1em;
      color: color($tan);
      text-transform: uppercase;
    }
    img {
    }
  }
}
