/**
 * @file _related-content.scss
 */

$related-content: 600px; //Match mobile menu breakpoint

.related-content {
  @extend %clearfix;
  margin-top: 2em;
  margin-bottom: 2em;
  h4 {
    margin-top: 0;
    color: color($tan);
  }
  p {
    margin-bottom: 1em;
  }
}
