// Variables Partials
//
// All of your variables should go in this file.

$max-width:   1280px;


// Font faces, stacks and sizes.

$base-font-size:   16px;
$base-line-height: 1.8;

// The following font family declarations are based on the Microsoft core web
// fonts which are common fonts available on most computer systems. The DejaVu
// and Nimbus Sans fonts are commonly available on Linux systems where the MS
// fonts are less common. Tahoma and Helvetica are also widely available.
//
// A user's web browser will look at the comma-separated list and will
// attempt to use each font in turn until it finds one that is available
// on the user's computer. The final "generic" font (sans-serif, serif or
// monospace) hints at what type of font to use if the web browser doesn't
// find any of the fonts in the list.

// First, let's create some font stacks.
$times-new-roman: "Times New Roman", Times, Georgia, "DejaVu Serif", serif;
$times:           Times, "Times New Roman", Georgia, "DejaVu Serif", serif;
$georgia:         Georgia, "Times New Roman", "DejaVu Serif", serif;

$verdana:         Verdana, Tahoma, "DejaVu Sans", sans-serif;
$tahoma:          Tahoma, Verdana, "DejaVu Sans", sans-serif;
$helvetica:       Helvetica, Arial, "Nimbus Sans L", sans-serif;
$arial:           Arial, Helvetica, "Nimbus Sans L", sans-serif;

// For an explanation of why "sans-serif" is at the end of this list, see
// http://meyerweb.com/eric/thoughts/2010/02/12/fixed-monospace-sizing/
$courier:         "Courier New", "DejaVu Sans Mono", monospace, sans-serif;

// Project-specific fonts
// Put any font families here that are specific to your project.
$trade:           'TradeGothicNextW01-Cond', $helvetica;
$trade-reg:       'Trade Gothic Next W01', $helvetica;
$trade-bold:      'TradeGothicNextW01-Bold 693229', $helvetica;
$whitney:         'Whitney SSm A', 'Whitney SSm B', $helvetica;
$gotham:          'Gotham SSm A', 'Gotham SSm B', $helvetica;
$archer:          'Archer SSm A', 'Archer SSm B', $helvetica;
$monospace:       'Consolas', 'Monaco', $courier;

// Google web fonts
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic,700italic);
$source-sans: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;

@import url(http://fonts.googleapis.com/css?family=Merriweather:400,700);
$merriweather: 'Merriweather', Georgia, serif;

// Now create some variables for the font stacks we want to use on this site.
$base-font-family: $helvetica; // The font family set on the html element.
$font-body:        $merriweather;
$font-monospace:   $monospace;
$form-font-family: $merriweather;

$font-body-weight: 400;

//
// Colors, etc.
//

// CSUMB Colors:

$blue:(
  dark:      #001e54,
  main:      #1f346b,
  bright:    #3B559A,
  highlight: #ffffff
);

$yellow:   (
  dark:      #d7be25,
  main:      #ffe85c,
  bright:    #ffffff,
  highlight: #ffffff
);

$green:(
  dark:      #07633B,
  main:      #029555,
  bright:    #1bc37a,
  highlight: #ffffff
);

$tan:  (
  dark:      #39351b,
  main:      #8f864f,
  bright:    #dddac7,
  light:     #F3F2E8,
  highlight: #eceade
);

$grey:  (
  dark:      #39351b,
  main:      #8f864f,
  bright:    #dddac7,
  highlight: #eceade
);

/// Status Message colors
$status: (
  success:   #02c948,
  warning:   #e8dc02, 
  error:     #b5010d      
);

///Need to remove these colors, once all instances are removed from Sass files

$red:  (
  dark:      #000000,
  main:      #000000,
  bright:    #000000,
  highlight: #000000
);

$purple:  (
  dark:      #000000,
  main:      #000000,
  bright:    #000000,
  highlight: #000000
);

$orange:  (
  dark:      #000000,
  main:      #000000,
  bright:    #000000,
  highlight: #000000
);


$white          : #fff;
$black          : #000;


// Standard colors: for standard 4K and other brand colors.
// Note: these are just for reference, and some brands have multiple colors.
$social-colors:(
  facebook    : #3B5998,
  twitter     : #33CCFF,
  youtube     : #FF3333,
  pinterest   : #990000,
  skype       : #12A5F4,
  flickr      : #FE0883,
  foursquare  : #8FD400,
  instagram   : #4E433C,
  linkedin    : #4875B4,
  tumblr      : #2B4964,
  vimeo       : #86B32D,
  google      : #D6492C,
  fk          : #66B360,
);


// Base color variables.
$link           : color($blue);
$visited        : color($blue);
$selection-bg   : color($yellow);
$selection      : color($tan, dark);

// The amount lists, blockquotes and comments are indented.
$indent-amount: 2em;


// Add Singularity responsive layout settings.
//
// Singularity allows the creation of responsive grids within your site's layout
// Go to the singularity github wiki for full implementation, and how to
// integrate it with breakpoint as well.
//
// @see https://github.com/Team-Sass/Singularity/wiki

@include sgs-change('mobile first',       true);
@include sgs-change('include border box', false);
@include sgs-change('include clearfix',   false);
@include sgs-change('direction',          'both');

// Makes these only applicable to the two column stylguide.
@include add-grid(1);


// Define our gutters.
@include add-gutter(1/3);
@include add-gutter(1 at 800px);


// Add breakpoint settings.
//
// Breakpoint allows us to embed media queries directly into each rule that
// needs it, rather than forcing a developer to place rules for a single
// component in multiple places depending on the media query they want to
// affect.
//
// @see https://github.com/Team-Sass/breakpoint/wiki
//
// Listed here are named breakpoints. They can vary in complexity, allowing you to
// get rid of the cognitive load behind typing and remembering media queries.
//
// @see https://github.com/Team-Sass/breakpoint/wiki/Respond-To

// $sample-breakpoints: "small-ish" (300px),
//                      "medium-ish" (460px),
//                      "large-ish" (770px),
//                      "extra-large-ish" (1000px);

$breakpoint-no-queries:         false !default;
$breakpoint-no-query-fallbacks: true  !default;
$breakpoint-to-ems:             true;


$breakpoints: add-breakpoint('hi res', min-resolution 1.5dppx);
$breakpoints: add-breakpoint('pager tiny', max-width 359px);
$breakpoints: add-breakpoint('pager mini', 360px);
$breakpoints: add-breakpoint('pager limited', 680px);
$breakpoints: add-breakpoint('pager full', 840px);
$breakpoints: add-breakpoint('journal meta small', 620px);
$breakpoints: add-breakpoint('journal meta full', 840px);
$breakpoints: add-breakpoint('journal meta large', 1120px);
$breakpoints: add-breakpoint('wide form labels', 820px);
$breakpoints: add-breakpoint('two col med', 600px);
$breakpoints: add-breakpoint('two col large', 800px);
$breakpoints: add-breakpoint('comment indent', 1000px);
$breakpoints: add-breakpoint('comment indent limited', 800px);
$breakpoints: add-breakpoint('comment indent mobile', 400px 799px);

// Specific to full page prototypes
$breakpoints: add-breakpoint('navigation small', max-width 792px);
$breakpoints: add-breakpoint('navigation medium', max-width 1042px);
$breakpoints: add-breakpoint('navigation full', min-width 1042px);

$breakpoints: add-breakpoint('footer smallest', max-width 400px);
$breakpoints: add-breakpoint('footer small', max-width 700px);
