/**
 * @file wp_two_col.admin.scss
 * The layout only to be used on the admin interface for wp_two_col.
 */
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic,700italic);
@import url(http://fonts.googleapis.com/css?family=Merriweather:400,700);
.pre-content,
.post-content {
  width: 100%;
}

/**
 * @file _base_layouts.scss
 * A generic set of layouts that are used cross-site.
 */
/**
 * @file _l-two-column.scss
 * A basic two column layout to be used.
 */
@media (min-width: 37.5em) {
  .l-two-column .column-1 {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
  [dir="rtl"] .l-two-column .column-1 {
    float: left;
  }
  .l-two-column .column-2 {
    width: 100%;
    float: left;
    margin-right: -100%;
    margin-left: 133.33333%;
    clear: none;
  }
  [dir="rtl"] .l-two-column .column-2 {
    float: right;
    margin-left: -100%;
    margin-right: 133.33333%;
  }
}
@media (min-width: 50em) {
  .l-two-column .column-1 {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
  [dir="rtl"] .l-two-column .column-1 {
    float: left;
  }
  .l-two-column .column-2 {
    width: 100%;
    float: left;
    margin-right: -100%;
    margin-left: 200%;
    clear: none;
  }
  [dir="rtl"] .l-two-column .column-2 {
    float: right;
    margin-left: -100%;
    margin-right: 200%;
  }
}
