/**
 * Prototype for Basic Page.
 */

$one-column: 870px; //Match mobile menu breakpoint

.basic-page {
  .main-container {
      margin-top: 2em;
      @include grid-span(12,1);
    @include breakpoint ($one-column) {
        @include grid-span(9,4);
      }
  }
  
  .clear-h2 {
    clear: both;
  }
  
  .main-container-centered {
      margin-top: 2em;
      padding-left: 1.5em;
      padding-right: 1.5em;
      @include grid-span(12,1);
    @include breakpoint ($one-column) {
        @include grid-span(9,2);
      }
  }
  
  .main-container-full {
      margin-top: 2em;
      padding-left: 1.5em;
      padding-right: 1.5em;
      @include grid-span(12,1);
    @include breakpoint ($one-column) {
        @include grid-span(12,1);
      }
  }
}