/**
 * @file _prototype_layouts.scss
 * A full-width layout that doesn't factor in the left sidebar.
 */

.prototype-grid {
    @include add-grid(12); // Add a 12 grid here to lay things out.
  .limiter {
    max-width: 68em;
    margin: 0 auto;
    position: relative;
    display: block;
  }
  .wrapper {
    max-width: 68em;
    margin: 0 auto;
  }
}
