
/**
 * @file
 * Styles for breadcrumbs.
 */

 .breadcrumb {
    text-transform: uppercase;
    font-family: $trade-bold;
    color: wp-color($tan, 'main');
    font-size: 1em;
    a {
      padding: 0 .75em;
      &:first-child {
        padding: 0 .75em 0 0;
      }
      &:link,
      &:visited {
        text-decoration: none;
        color: wp-color($blue, 'main');
      }
      &:hover {
        color: wp-color($blue, 'main', 10%);      
      }
      &.active {
        color: wp-color($tan, 'main');
        &:hover {
          color: wp-color($tan, 'main', 5%);      
        }
      }
    }

 }