
/**
 * @file
 * Styles for system messages.
 */

.messages {
  color: wp-color($grey, 'highlight');
  border-width: 1px 1px 2px 1px;
  border-style: solid;
  @include border-radius(2px);
  padding: 0.75em;
  margin-bottom: 0.5em;

  &.status {
    border-color: wp-color($green, 'dark');
    background-color: wp-color($green);
    color: wp-color($green, 'highlight', 15%);
    @include text-shadow(1px 1px 0 rgba(wp-color($green, 'dark', -5%), 0.5));
    a { color: $white; }
  }

  &.warning {
    border-color: wp-color($yellow, 'main');
    background-color: wp-color($yellow, 'main', -2.5%);
    color: wp-color($yellow, 'dark', -20%);
    @include text-shadow(1px 1px 0 rgba(wp-color($yellow, 'main', -5%), 0.5));
    a, a:visited {
      color: wp-color($yellow, 'dark', -30%);
      font-weight: bolder;
    }
  }

  &.error {
    border-color: darken(mix(wp-color($yellow, 'main'), wp-color($yellow, 'dark')), 10%);
    background-color: darken(mix(wp-color($yellow, 'main'), wp-color($yellow, 'dark')), 20%);
    color: wp-color($red, 'highlight', 15%);
    @include text-shadow(1px 1px 0 rgba(wp-color($red, 'dark', -5%), 0.5));
    a { color: $white; }
  }

}
