
/**
 * @file
 * Styles for system messages.
 */

.messages {
  color: wp-color($grey, 'highlight');
  border-width: 1px 1px 1px 12px;
  border-style: solid;
  @include border-radius(2px);
  padding: 0.75em;
  margin-bottom: 0.5em;
  font-family: $trade-bold;
  a {
    &:link,
    &:visited {
      color: lighten($black, 15%);
    }
    &:hover {
      color: $black;
      text-decoration: none;
    }
  }
  &.status {
    border-color: wp-color($status, 'success');
    background-color: wp-color($status, 'success', 48%);
    color: wp-color($status, 'success', -65%);
  }

  &.warning {
    border-color: wp-color($status, 'warning');
    background-color: wp-color($status, 'warning', 48%);
    color: wp-color($status, 'warning', -65%);
  }

  &.error {
    border-color: wp-color($status, 'error');
    background-color:wp-color($status, 'error', 52%);
    color: wp-color($status, 'error', -65%);
  }
}
