<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>{{ page.title }} | {{ site.name }}</title>
    <meta name="viewport" content="width=device-width" />
    <script src="/styleguide-assets/js/modernizr-latest.js"></script>
    <script type="text/javascript" src="http://fast.fonts.net/jsapi/b48dd953-9f4b-4f1d-9ec9-95e7e63bf76c.js"></script>

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/styleguide.css" />
    <!-- syntax highlighting CSS -->
    <link rel="stylesheet" href="/css/syntax.css" />
    
    <!-- CSS for Jquery Carousel-->
    <link rel="stylesheet" type="text/css" href="/styleguide-assets/css/demo.css" />
		<link rel="stylesheet" type="text/css" href="/styleguide-assets/css/style.css" />
		<link rel="stylesheet" type="text/css" href="/styleguide-assets/css/elastislide.css" />
		
		<!-- More for Jquery Carousel-->
		<noscript>
			<style>
				.es-carousel ul{
					display:inline;
				}
			</style>
		</noscript>
		<script id="img-wrapper-tmpl" type="text/x-jquery-tmpl">	
		</script>

  </head>
  <body class="prototype-grid">
        {{ content }}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="/styleguide-assets/js/main.js"></script>
    <script src="/styleguide-assets/js/hmenu.js"></script>
    <script src="/styleguide-assets/js/tabbed.js"></script>
    <script src="/styleguide-assets/js/jquery-ui.js"></script>
    <script src="/styleguide-assets/js/responsive-nav.js"></script>
    <script src="/styleguide-assets/js/majors-search.js"></script>
    
    <!-- for JQuery Carousel -->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<script type="text/javascript" src="/styleguide-assets/js/jquery.tmpl.min.js"></script>
	<script type="text/javascript" src="/styleguide-assets/js/jquery.easing.1.3.js"></script>
	<script type="text/javascript" src="/styleguide-assets/js/jquery.elastislide.js"></script>
	<script type="text/javascript" src="/styleguide-assets/js/gallery.js"></script>		
  </body>
</html>

